@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.pagination {
  position: relative;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_page {
    margin: 0px 15px;
    @include transition;
    font-size: 18px;
    font-weight: 900;
    color: $color1;

    &:hover {
      @include transition;
      color: $color6;
    }

    @include screen-tb {
      margin: 0 20px;
    }

    &.active {
      color: $color2;
    }
  }

  &_step {
    min-width: 50px;
    padding: 10px 16px;
    border-radius: 4px;
    background: $color1;

    &.disabled {
      opacity: .7;
    }
  }

  .icon {
    &_left {
      transform: rotateZ(180deg);
    }

    &_right {
      position: relative;
    }
  }
}