@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.wrapper {
  position: relative;
  @include hidden();
  margin-right: 40px;
  margin-bottom: -25px;
  padding-bottom: 25px;
  font-weight: 700;
  color: #ffffff;
  @include transition();
  cursor: pointer;

  @include screen-tb() {
    visibility: visible;
    display: block;
    margin-right: 120px;
  }

  &:hover {
    color: $color6;
    @include transition();
  }

  @include screen-l() {
    margin-right: 90px;
  }
}

.clipboard {
  @include hidden();
  position: absolute;
  top: 40px;
  width: 355px;
  padding: 12px 13px;
  box-shadow: 0px 3px 20px rgba(55, 63, 72, 0.1);
  border-radius: 4px;
  background: #ffffff;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 15px solid #ffffff;
  }
}

.title {
  @include hidden();

  &:hover+.clipboard {
    visibility: visible;
    display: block;
  }

  @include screen-tb() {
    visibility: visible;
    display: inline-block;
  }
}

.text {
  font-size: 12px;
  color: #000000;
}