/* Mixins */

@mixin screen-sm {
  @media only screen and (min-width: 640px) {
    @content;
  }
}

@mixin screen-tb {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-l {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin screen-xl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin screen-xxl {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

@mixin container_width($width: 1440px) {
  width: 100%;
  max-width: $width;
  margin: 0 auto;
}

@mixin font($size, $family) {
  font: $size $family;
}

@mixin transition {
  transition: all 0.25s;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap");
$fontfamily: "Noto Sans", sans-serif;
/* Colors */
$color1: #373f48;
$color2: #ff8e01;
$color3: #f2f0f0;
$color4: #999999;
$color5: #5ab87f;
$color6: #ffc174;

/* Null styles */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $fontfamily;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

// ANCHOR Container

.container {
  @include container_width();
  padding: 0 20px;

  @media (max-width: 768px) {
    & {
      padding: 0 15px;
    }
  }
}

// ANCHOR Body
.body {
  &.isMobile {
    overflow: hidden;
  }
}

// ANCHOR Header

.header {
  padding: 20px 0px;
  background: $color1;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    flex-grow: 0.5;
    margin: 0px 5px 0px 0px;

    @include screen-l() {
      margin: 0px 35px 0px 0px;
    }
  }

  .isDesktop {
    display: none !important;

    @include screen-l() {
      display: block !important;
    }
  }

  .isMobile {
    display: block !important;

    @include screen-l() {
      display: none !important;
    }
  }

  &-navigation {
    @include hidden();
    flex-grow: 1;
    margin: 0px 10px 0px 0px;

    @include screen-l() {
      display: block;
      visibility: visible;
    }

    &__link {
      margin: 0px 30px 0px 0px;
      font-weight: 600;
      color: #ffffff;

      &:last-child {
        margin: 0px;
      }
    }

    &.isMobile {
      display: block;
      visibility: visible;
      position: fixed;
      top: 70px;
      z-index: 20;

      & > .header-navigation__link {
        margin: 0px;
        color: $color2;

        &:last-child {
          @include hidden();
        }
      }
    }
  }

  &-info {
    display: flex;
    flex-grow: 0;
    align-items: center;
    margin: 0px 10px 0px 0px;

    @include screen-l() {
      flex-grow: 1;
    }

    &__link {
      margin: 0px 40px 0px 0px;
      font-weight: 700;
      color: #ffffff;

      &:first-child {
        @include hidden();

        @include screen-tb() {
          display: block;
          visibility: visible;
          margin: 0px 120px 0px 0px;
        }
      }

      &:last-child {
        margin: 0px;
      }

      @include screen-l() {
        margin: 0px 90px 0px 0px;
      }
    }

    &__phone {
      @include hidden();

      @include screen-tb() {
        display: inline-block;
        visibility: visible;
      }
    }

    &__location {
      @include hidden();

      @include screen-xl() {
        display: inline-block;
        visibility: visible;
      }
    }
  }

  &-action {
    display: flex;
    align-items: center;

    &__cart {
      position: relative;
      margin: 0px 30px -25px 0px;
      padding: 0px 0px 25px;
      color: #ffffff;
    }

    &__cart:hover .cart-dropdown {
      display: block;
      visibility: visible;
    }

    &__lang {
      position: relative;
      margin: 0px 0px -20px;
      padding: 0px 0px 20px;
    }

    &__text {
      font-size: 16px;
      color: #ffffff;

      @include screen-tb() {
        font-size: 18px;
      }
    }

    &__icon {
      margin: 0px 12px 0px 0px;

      @media (max-width: 768px) {
        margin: 0px 6px 0px 0px;
      }
    }
  }

  &-hamburger {
    display: block;
    visibility: visible;
    position: relative;
    width: 27px;
    height: 18px;
    background: $color1;
    margin: 0px 10px 0px 0px;
    z-index: 25;
    cursor: pointer;

    &.isMobile {
      display: block;
      visibility: visible;
    }

    &__btn {
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
      background-color: $color2;
      border-radius: 2px;
    }

    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background: $color2;
      border-radius: 2px;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }

    &.isMobile &__btn {
      opacity: 0;
    }

    &.isMobile::before {
      height: 3px;
      background: $color4;
      transform: rotate(-45deg) translate(-8px, 2px);
    }

    &.isMobile::after {
      height: 3px;
      background: $color4;
      transform: rotate(45deg) translate(-8px, -3px);
    }

    @include screen-l() {
      @include hidden();
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    left: -220px;
    bottom: 0;
    width: 220px;
    background: $color1;
    padding: 15px;
    z-index: 20;
    transition: right 0.25s linear;

    &.isMobile {
      left: 0;

      & > .header-menu__background::after {
        left: 220px;
      }
    }

    &__background {
      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        background: rgba(55, 63, 72, 0.7);
        backdrop-filter: blur(10px);
        transition: right 0.25s linear;
      }
    }

    &__aside {
      @include hidden();
      width: 200px;
      position: fixed;
      top: 110px;
      margin: 0px;
      z-index: 20;

      &.isMobile {
        display: block;
        visibility: visible;
      }

      & > .aside-navigation__list {
        margin: 25px 0px 0px;

        & > .aside-navigation__link {
          margin: 25px 0px 0px;

          &:first-child {
            margin: 0px;
          }
        }
      }

      & > .aside-navigation__download {
        margin: 30px 0px 0px;
      }
    }
  }
}

// ANCHOR Footer

.footer {
  padding: 55px 0px;
  background: $color1;

  @include screen-tb() {
    padding: 50px 0px;
  }

  @include screen-l() {
    padding: 80px 0px 70px;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include screen-tb() {
      flex-direction: row;
    }
  }

  &-block {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin: 0px 0px 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @include screen-tb() {
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      margin: 0px;
    }

    @include screen-l() {
      &:first-child {
        width: 320px;
      }
    }
  }

  &-item {
    margin: 0px 20px 0px 0px;

    @include screen-tb() {
      margin: 0px;
    }

    &__title {
      @include hidden();
      font-size: 16px;
      line-height: 22px;
      color: $color2;

      @include screen-tb() {
        display: inline-block;
        visibility: visible;
      }
    }

    &__text {
      margin: 0px;
      line-height: 22px;
      color: #ffffff;

      @include screen-tb() {
        margin: 12px 0px 0px;
      }
    }
  }
}

// ANCHOR Presentation section main page

.presentation {
  background: $color1;
  padding: 40px 0px 60px;

  @include screen-tb() {
    padding: 40px 0px 67px;
  }

  @include screen-l() {
    padding: 120px 0px 185px;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-aside-navigation {
    @include hidden();

    @include screen-tb() {
      display: block;
      visibility: visible;
      width: 40%;
      margin-right: 15px;
    }

    @include screen-l() {
      width: 25%;
    }
  }

  &-carousel {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include screen-tb() {
      align-items: flex-start;
      width: 60%;
    }

    @include screen-l() {
      width: 75%;
    }

    &-header {
      width: 100%;
      margin: 0px 0px 55px;
      text-align: center;

      @include screen-tb() {
        text-align: left;
      }

      @include screen-l() {
        width: 55%;
        margin: 0px 0px 115px;
      }

      &__title {
        width: 100%;
        margin: 0px 0px 21px;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;

        @include screen-tb() {
          width: 65%;
          font-size: 30px;
        }

        @include screen-xl() {
          font-size: 48px;
        }
      }

      &__descr {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: $color2;

        @include screen-tb() {
          font-size: 20px;
        }

        @include screen-l() {
          font-size: 24px;
        }
      }
    }

    &__navigation {
      align-self: center;
      margin: 55px 0px 0px;

      @include screen-tb() {
        align-self: flex-start;
        margin: 90px 0px 0px;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: $color2;
        margin: 25px 0px 0px;
      }
    }

    &__dot {
      margin: 0px 28px 0px 0px;
      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
      opacity: 0.25;

      @include screen-l() {
        font-size: 24px;
      }

      &:last-child {
        margin: 0px;
      }

      &.isActive {
        opacity: 1;
      }
    }

    &__block {
      @include screen-l() {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
      }
    }

    &__item {
      width: 260px;
      height: 200px;

      @include screen-tb() {
        width: 325px;
        height: 255px;
      }

      @include screen-l() {
        width: 400px;
        height: 300px;
      }

      @include screen-xl() {
        width: 450px;
        height: 360px;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// ANCHOR Popular section main page

.popular {
  padding: 50px 0px 90px;

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-aside-navigation {
    @include hidden();

    @include screen-xl() {
      display: block;
      visibility: visible;
    }
  }

  &-carousel {
    width: 100%;

    @include screen-l() {
      width: 80%;
    }

    &-block {
      margin: 40px -20px 0px;
    }
  }
}

// ANCHOR Advantages section main page

.advantages {
  background: $color3;
  padding: 62px 0px 70px;

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include screen-tb() {
      flex-direction: row;
    }
  }

  &__item {
    margin: 0px 0px 60px;

    &:last-child {
      margin: 0px;
    }

    @include screen-tb() {
      margin: 0px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $color1;

    @include screen-l() {
      font-size: 18px;
    }
  }

  &__image {
    height: 70px;
    margin: 50px auto 0px;
  }
}

// ANCHOR Contact us section main page

.contact-us {
  position: relative;
  overflow: hidden;

  @include screen-tb() {
    background: url(/images/background-left.svg) top -1px left -5px no-repeat,
      url(/images/background-right.svg) bottom -18px right -4px no-repeat;
  }

  &-inner {
    padding: 42px 0px 136px;
    text-align: center;
  }

  &__title {
    margin: 0px 0px 40px;
    font-size: 24px;
    font-weight: 900;
    color: $color1;

    @include screen-tb() {
      font-size: 30px;
    }

    @include screen-l() {
      font-size: 36px;
    }
  }

  &-form {
    max-width: 486px;
    width: 100%;
    margin: 0px auto;
  }

  &-field {
    margin: 0px 0px 48px;

    &:last-of-type {
      margin: 0px 0px 18px;
    }
  }

  &__required {
    margin: 0px 0px 30px;
    text-align: left;
  }

  &__input {
    width: 100%;
    padding: 15px 25px;

    &:focus + label {
      visibility: hidden;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);

    &::after {
      content: " *";
      font-size: 18px;
      color: $color2;
    }

    &--textarea {
      position: absolute;
      top: 15px;
      left: 25px;
      font-size: 18px;
      color: $color4;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 150px;
    padding: 15px 25px;

    &:focus + label {
      visibility: hidden;
    }
  }

  &__btn {
    min-height: 49px;
    padding: 16px 62px;

    &:hover {
      background: #ffffff;
      color: $color1;
    }
  }
}

// ANCHOR About us page

.about-us {
  @include screen-tb() {
    background: url(/images/background-right.svg) bottom -18px right -4px
      no-repeat;
  }

  &-inner {
    max-width: 1090px;
    width: 100%;
    margin: 0px auto;
    padding: 30px 20px 175px;
  }

  &__background {
    width: 100%;
    height: 95px;
    background: linear-gradient(
        180deg,
        rgba(55, 63, 72, 0.71) 0%,
        rgba(55, 63, 72, 0) 100%
      ),
      url(/images/background-top.png);
  }

  &__block {
    &:first-child {
      position: relative;
    }
  }

  &-download {
    position: absolute;
    top: -15%;
    right: 0;

    @media (max-width: 1024px) {
      top: -25%;
    }

    @media (max-width: 767px) {
      position: relative;
      margin: 0px auto;
    }
  }

  &__title {
    margin: 0px 0px 45px;
    font-size: 24px;
    font-weight: 900;
    color: $color2;
    text-align: center;

    @include screen-tb() {
      font-size: 28px;
    }

    @include screen-l() {
      font-size: 32px;
    }
  }

  &__text {
    margin: 0px 0px 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: $color1;

    @include screen-tb() {
      font-size: 18px;
    }

    @include screen-l() {
      font-size: 22px;
    }
  }

  &__catalogue {
    display: block;
    max-width: 165px;
    width: 100%;
    margin: 0px auto 45px;
    padding: 10px 20px;
    border: 2px solid $color1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 900;
    color: $color1;
    text-align: center;
  }

  &__highlight {
    font-weight: 900;

    &.highlight-top {
      &::after,
      &::before {
        content: '"';
        color: $color2;
      }
    }

    &.highlight-bottom {
      &::after {
        content: ":";
        color: $color2;
      }
    }
  }

  &__list {
    counter-reset: counter-list;
    font-size: 16px;
    font-weight: 400;
    color: $color1;
    list-style: none;

    @include screen-l() {
      font-size: 22px;
    }
  }

  &__item {
    counter-increment: counter-list;
    margin: 0px 0px 20px;

    &:last-child {
      margin: 0px;
    }

    &::before {
      content: counter(counter-list) ".";
      margin: 0px 10px 0px 0px;
      font-size: 20px;
      font-weight: 900;
      color: $color2;

      @include screen-l() {
        font-size: 24px;
      }
    }
  }

  &__link {
    display: inline-block;
    margin: 45px 0px 0px;
    padding: 16px 32px;

    &:hover {
      background: #ffffff;
      color: $color1;
    }
  }
}

// ANCHOR Catalogue page

.catalogue {
  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 70px 0px;
  }

  &-aside {
    @include hidden();

    @include screen-l() {
      display: block;
      visibility: visible;
      width: 17%;
    }
  }

  &-aside-navigation {
    margin: 0px 0px 76px;
  }

  //ANCHOR Aside popular container

  .aside-popular {
    &__header {
      margin: 0px 0px 25px;
      font-weight: 700;
    }

    &__item {
      margin: 0px 0px 20px;
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &-image-wrapper {
      position: relative;
      max-width: 85px;
      width: 100%;
      padding-top: 26%;
      border: 1px solid $color4;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__description {
      margin: 0px 0px 0px 10px;
    }

    &__title {
      margin: 0px 0px 5px;
      font-size: 12px;
      font-weight: 400;
      @include transition();
      color: $color1;

      &:hover {
        @include transition();
        color: $color2;
      }
    }

    &__type {
      font-size: 12px;
      font-weight: 400;
      @include transition();
      color: $color4;

      &:hover {
        @include transition();
        color: $color6;
      }
    }
  }

  //ANCHOR Catalogue container

  &-wrapper {
    width: 100%;

    @include screen-l() {
      width: 80%;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 40px;

    @include screen-tb() {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    margin: 0px 0px 30px;
    font-size: 20px;
    font-weight: 700;
    color: $color1;

    @include screen-tb() {
      margin: 0px;
    }

    @include screen-l() {
      font-size: 32px;
    }
  }

  &-sort {
    &__block {
      display: block;

      @include screen-sm() {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__title {
      display: inline-block;
      margin: 0px 0px 15px;
      font-weight: 700;
      color: $color1;

      @include screen-sm() {
        margin: 0px 15px 0px 0px;
      }
    }

    &__size {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid $color2;
      @include transition();
      color: $color4;

      &:hover {
        @include transition();
        color: $color6;
      }

      .isActive {
        color: $color2;
      }
    }

    &__price {
      color: $color4;

      &:hover {
        @include transition();
        color: $color6;
      }

      .isActive {
        color: $color2;
      }
    }

    &__icon {
      &.isActive {
        transform: rotateZ(180deg);
      }
    }
  }

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px -20px 20px;
  }

  //ANCHOR Catalogue pagination

  &-pagination {
    &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__btn {
      max-width: 445px;
      min-width: 290px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto 35px;
      border: 1px solid $color1;
      border-radius: 4px;
      @include transition();
      font-size: 16px;
      font-weight: 900;
      color: $color1;

      &:hover {
        @include transition();
        transform: translateY(-10px);
      }
    }

    &__link {
      margin: 0px 15px;
      font-size: 18px;
      font-weight: 900;
      @include transition();
      color: $color1;

      &:hover {
        @include transition();
        color: $color6;
      }

      @include screen-tb() {
        margin: 0px 20px;
      }

      &.isActive {
        color: $color2;
      }
    }

    &__step {
      min-width: 50px;
      padding: 10px 16px;
      background: $color1;
      border-radius: 4px;
    }

    .pagination-icon {
      &__refresh {
        margin: 0px 15px 0px 0px;
      }

      &__left {
        transform: rotateZ(180deg);

        &.isActive {
          fill-opacity: 0.5;
        }
      }

      &__right {
        &.isActive {
          fill-opacity: 0.5;
        }
      }
    }
  }
}

// ANCHOR Catalogue item page

.catalogue-page {
  &-inner {
    padding: 30px 0px 123px;
  }

  &-breadcrumbs {
    display: flex;
    margin-bottom: 46px;
  }

  .breadcrumbs {
    &__item {
      font-size: 16px;
      color: $color1;
    }

    &__link {
      font-size: 16px;
      color: $color4;

      &::after {
        content: "/";
        padding: 0px 15px;
      }
    }
  }

  &-block {
    max-width: 1290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-gallery {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin-right: 50px;

    .gallery {
      &-small {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 60px;

        &__img {
          max-width: 123px;
          width: 100%;
          margin-bottom: 20px;
        }
      }

      &-large {
        position: relative;
        max-width: 537px;
        width: 100%;
        padding-top: 51.55%;
        border: 1px solid $color4;

        &__img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    @media (max-width: 1024px) {
      & {
        &_large {
        }
      }
    }
  }

  &__status {
    position: absolute;
    top: -30px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: $color5;
  }

  &-trade {
    align-self: start;
    position: relative;
    width: 40%;
    padding-top: 30%;
    background: #ffecd4;

    &-wrapper {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(0%, -50%);
    }

    &__title {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 900;
      color: $color1;
    }

    &__price {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 900;
      color: $color1;

      & sup {
        font-size: 24px;
      }
    }

    &__size {
      position: absolute;
      left: 100%;
      margin-left: 20px;
      font-size: 24px;
      font-weight: 900;
    }

    &__btn {
      display: block;
      max-width: 223px;
      padding: 15px 40px;
      background: $color5;
      color: #ffffff;
      font-size: 20px;
      font-weight: 900;
      border-radius: 4px;

      .icon-cart {
        margin-right: 22px;
      }
    }
  }

  &-calc {
    position: relative;
    max-width: 175px;
    width: 100%;
    margin-bottom: 24px;

    &__remove {
      padding: 12px 13px;
    }

    &__add {
      padding: 12px 13px;
    }

    &__count {
      max-width: 75px;
      font-size: 18px;
      padding: 10px 0px;
    }
  }

  &-about {
    max-width: 1184px;
    width: 100%;
    margin: 126px auto;

    &__title {
      margin-bottom: 25px;
      font-size: 24px;
      font-weight: 900;
    }
  }

  &-table {
    width: 100%;
    background: #ffffff;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0px 0px 10px rgba(55, 63, 72, 0.1);
    font-size: 16px;
    text-align: center;

    &__header {
      background: #f2f0f0;
      border-bottom: 2px solid $color2;

      & th {
        padding: 18px 0px;
        font-weight: 600;
      }
    }

    &__body {
      & tr:not(:last-child) {
        border-bottom: 1px solid #c4c4c4;
      }

      & td {
        padding: 18px 0px;
        font-weight: 600;
      }
    }
  }

  .similar-carousel {
    max-width: 1184px;
    width: 100%;
    margin: 0px auto;

    &-items {
      margin: 40px -20px 0px;
    }

    &__arrow {
      &--left {
        transform: rotateZ(180deg);
        fill-opacity: 0.5;
      }
    }
  }
}

// ANCHOR Cart modal

.cart-modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 27px;
  background: rgba(55, 63, 72, 0.76);

  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.active {
  }

  &-wrapper {
    position: relative;
    width: 100%;
    max-width: 862px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color3;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 4px 4px 0px 0px;

    &__title {
      font-size: 20px;
      font-weight: 900;
      color: $color1;
    }

    &__close {
      background: $color3;
    }
  }

  &-description {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 5px;

    &__item {
      padding: 0px 30px;
      color: $color4;

      &:last-child {
        padding-right: 40px;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;

    &:first-child {
      padding: 0px 30px 22px;
    }

    &:nth-child(2n + 0) {
      background: $color3;
    }

    &__close {
      background: 0 0;
    }

    &__image {
      position: relative;
      max-width: 132px;
      width: 100%;
      padding-top: 11%;
      background: #ffffff;
      border: 1px solid $color4;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;

      &--title {
        font-size: 16px;
        color: $color1;
      }

      &--type {
        font-size: 14px;
        color: $color4;
        margin-bottom: 5px;
      }
    }

    &__price {
      min-width: 85px;
      text-align: center;
      font-size: 16px;
      color: $color1;
    }

    &__sum {
      min-width: 85px;
      padding: 5px 0px;
      background: #ffecd4;
      text-align: center;
      border-radius: 4px;
      font-size: 16px;
      color: $color1;
    }
  }

  &-calc {
    &__remove {
      padding: 7px 10px;
    }

    &__count {
      max-width: 55px;
      padding: 6px 0px;
    }

    &__add {
      padding: 7px 10px;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 42px 0px;
  }

  &-back {
    &__title {
      margin-right: 12px;
      font-size: 16px;
      font-weight: 600;
    }

    &__btn {
      min-width: 33px;
      padding: 6px 12px;
      border-radius: 4px;
      background: $color2;
    }
  }

  &-trade {
    text-align: center;

    &__total {
      margin-bottom: 15px;

      &__text {
        margin-right: 8px;
        font-size: 16px;
        color: $color1;
      }

      &__sum {
        font-size: 16px;
        font-weight: 600;
        color: $color1;
      }
    }

    &__btn {
      min-width: 143px;
      padding: 8px 28px;
      border-radius: 4px;
      background: $color2;
      color: #ffffff;
      font-size: 16px;
      font-weight: 900;
    }
  }
}

// ANCHOR Order page

.order-page {
  padding: 60px 0px 100px;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-send {
    max-width: 485px;
    width: 100%;
    text-align: center;

    &__title {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 900;
      color: $color1;
    }

    &__text {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 28px;
      color: $color1;
    }
  }

  &-form {
  }

  &-field {
    position: relative;
    margin-bottom: 48px;

    &:last-of-type {
      margin-bottom: 18px;
    }
  }

  &__input {
    width: 100%;
    padding: 15px 25px;

    &:focus + label {
      visibility: hidden;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);

    &::after {
      content: " *";
      font-size: 18px;
      color: $color2;
    }

    &--textarea {
      position: absolute;
      top: 15px;
      left: 25px;
      color: $color4;
      font-size: 18px;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 150px;
    padding: 15px 25px;

    &:focus + label {
      visibility: hidden;
    }
  }

  &__required {
    margin-bottom: 30px;
    text-align: left;
    font-size: 18px;
    color: $color4;

    &::before {
      content: "* ";
      font-size: 18px;
      color: $color2;
    }
  }

  &__btn {
    min-height: 59px;
    padding: 16px 62px;
    background: $color2;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;

    &:hover {
      background: #ffffff;
      color: $color1;
      border: 2px solid $color2;
    }
  }

  &-trade {
    align-self: flex-start;
    max-width: 555px;
    width: 100%;
  }

  &-edit {
    margin-bottom: 45px;

    &__text {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: $color1;
    }

    &__btn {
      min-width: 33px;
      padding: 6px 12px;
      border-radius: 4px;
      background: $color2;
    }
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    &__title {
      padding: 10px 20px;
      background: #ffecd4;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      color: $color1;
    }
  }

  &-sum {
    &__text {
      margin-right: 20px;
      font-size: 16px;
      font-weight: 600;
      color: $color1;
    }

    &__price {
      font-size: 16px;
      font-weight: 600;
      color: $color2;
    }
  }

  &-list {
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 37px;
      font-size: 16px;
      line-height: 22px;
      color: $color1;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__image {
      max-width: 40px;
      width: 100%;
    }

    &__title {
      max-width: 240px;
      width: 100%;
      text-align: left;
    }

    &__size {
      max-width: 80px;
      width: 100%;
      text-align: center;
    }

    &__price {
      max-width: 110px;
      width: 100%;
      text-align: left;
    }
  }
}

// ANCHOR Location page

.location {
  position: relative;

  &-wrapper {
    background: $color1;
  }

  &-info {
    max-width: 1290px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
    margin: 0px auto 40px;

    @include screen-tb() {
      flex-direction: row;
      align-items: flex-start;
      padding: 80px 20px;
    }

    @include screen-l() {
      padding: 80px 20px 220px;
    }

    &__block {
      max-width: 220px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0px 0px 40px;

      &:last-child {
        margin-bottom: 0;
      }

      @include screen-tb() {
        flex-direction: column;
        margin: 0px;
      }

      @include screen-l() {
        &:first-child {
          max-width: 360px;
          width: 100%;
        }
      }
    }

    &__item {
      flex-direction: column;
      margin: 0px 20px 0px 0px;
      font-size: 16px;
      line-height: 21px;
      color: $color2;

      @include screen-tb() {
        margin: 0px 0px 10px 0px;
      }

      @include screen-l() {
        font-size: 18px;
      }
    }

    &__title {
      @include hidden();

      @include screen-tb() {
        display: inline-block;
        visibility: visible;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;

      @include screen-l() {
        font-size: 18px;
      }
    }
  }

  &-map {
    max-width: 1290px;
    width: 100%;
    position: relative;
    padding: 0px 20px;
    margin: 0px auto;

    @include screen-tb() {
      margin-bottom: 265px;
    }

    @include screen-l() {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    &__title {
      margin: 0px 0px 30px 0px;
      font-size: 20px;
      color: $color2;

      @include screen-l() {
        font-size: 22px;
      }
    }

    &__item {
      width: 100%;
      margin-bottom: 82px;
      box-shadow: 0px 4px 20px rgba(55, 63, 72, 0.2);
      overflow: hidden;
    }
  }
}

// ANCHOR Cart dropdown

.cart-dropdown {
  @include hidden();
  position: absolute;
  top: 50px;
  left: -125px;
  width: 255px;
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(55, 63, 72, 0.05);
  text-align: center;
  @include transition();
  z-index: 20;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 125px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid $color2;
  }

  &__title {
    margin-bottom: 16px;
    color: $color1;
  }

  &__price {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 900;
    color: $color1;
  }

  &__btn {
    max-width: 140px;
    width: 100%;
    margin: 0px auto 20px;
    padding: 8px 30px;
    background: $color2;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
  }

  &__link {
    color: $color1;
  }
}

// ANCHOR Aside navigation container

.aside-navigation {
  font-weight: 700;

  &__header {
    color: $color2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 36px;

    &.list-dark {
      & .aside-navigation__link {
        color: $color1;
      }
    }
  }

  &__link {
    margin-top: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;

    &:first-child {
      margin-top: 0;
    }
  }

  &__download {
    display: inline-block;
    margin-top: 55px;
    font-size: 14px;
    color: $color2;
  }
}

// ANCHOR Carousel container

.carousel {
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include screen-tb() {
      flex-direction: row;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    @include screen-tb() {
      text-align: left;
    }
  }

  &__navigation {
    align-self: center;
    margin: 35px 0px 0px;

    @include screen-tb() {
      align-self: flex-end;
      margin: 0px;
    }
  }

  &__step {
    min-width: 50px;
    display: inline-block;
    margin: 0px 30px 0px 0px;
    padding: 10px 15px;
    border-radius: 4px;
    background: $color2;

    &:last-child {
      margin-right: 0;
    }
  }
  &__arrow {
    &--left {
      transform: rotateY(180deg);
    }
  }

  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

// ANCHOR Form

.form {
  .input-field {
    position: relative;

    .input {
      border: 1px solid $color1;
      font-size: 18px;
      color: $color1;
    }

    .label {
      color: $color4;
      font-size: 18px;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    .textarea {
      border: 1px solid $color1;
      font-size: 18px;
      color: $color1;
      resize: none;
    }
  }

  .required {
    font-size: 16px;
    color: $color4;

    &::before {
      content: "* ";
      font-size: 18px;
      color: $color2;
    }

    @include screen-l() {
      font-size: 18px;
    }
  }
}

// ANCHOR Buttons

.btn-sent {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;

  @include screen-tb() {
    font-size: 18px;
  }

  @include screen-l() {
    font-size: 20px;
  }
}

.btn-green {
}

.btn-orange {
  border: 2px solid $color2;
  background: $color2;
}

// ANCHOR Product items

.product-item {
  min-width: 290px;
  width: calc(33.333% - 40px);
  margin: 0px 20px 40px;
  padding: 27px 0px 30px;
  border: 1px solid $color1;
}

.product-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title {
  margin: 0px 0px 15px;
  font-size: 18px;
  font-weight: 700;
  color: $color1;
}

.product-image-wrapper {
  position: relative;
  width: 50%;
  height: 120px;
  margin: 0px 0px 20px;
}

.product__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__size {
  margin: 0px 0px 10px;
  padding: 0px 65px 10px;
  border-bottom: 1px solid $color2;
  font-size: 18px;
  font-weight: 400;
  color: $color1;
}

.product__price {
  margin: 0px 0px 30px;
  font-size: 18px;
  font-weight: 700;
  color: $color1;
}

.product-order {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid $color2;
  border-bottom: 1px solid $color2;
}

.product__btn--remove {
  padding: 7px 16px 7px 27px;
  background: #ffffff;
  border-right: 1px solid $color2;
}

.product__count {
  max-width: 89px;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.product__btn--add {
  padding: 7px 0px 7px 20px;
  background: #ffffff;
  border-left: 1px solid $color2;
}

.product__cart {
  position: absolute;
  left: 70%;
  padding: 10px 15px;
  background: $color2;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(55, 63, 72, 0.2);
}

// ANCHOR Input count product

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid $color1;

  &__remove {
    background: #ffffff;
    border-right: 1px solid $color1;
  }

  &__count {
    font-size: 14px;
    font-weight: 900;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__add {
    background: #ffffff;
    border-left: 1px solid $color1;
  }
}

// ANCHOR Icons

.icon {
  width: 1em;
  height: 1em;

  &.icon-logo {
    width: 78px;
    height: 32px;
  }

  &.icon-logo--mobile {
    width: 25px;
    height: 25px;
  }

  &.icon-phone {
    margin-right: 12px;
    width: 19px;
    height: 19px;
  }

  &.icon-location {
    margin-right: 12px;
    width: 15px;
    height: 20px;
  }

  &.icon-location--header {
    margin-right: 12px;
    width: 18px;
    height: 23px;

    @media (max-width: 768px) {
      width: 14px;
      height: 18px;
    }
  }

  &.icon-location--map {
    margin-right: 12px;
    width: 18px;
    height: 23px;
  }

  &.icon-clock {
    margin-right: 12px;
    width: 22px;
    height: 21px;
  }

  &.icon-cart {
    width: 21px;
    height: 23px;

    @media (max-width: 768px) {
      width: 17px;
      height: 18px;
    }
  }

  &.icon-lang {
    width: 23px;
    height: 23px;

    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }

  &.icon-arrow {
    width: 11px;
    height: 9px;
  }

  &.icon-arrow--cart {
    width: 10px;
    height: 9px;
  }

  &.icon-arrow--more {
    width: 51px;
    height: 14px;
  }

  &.icon-download {
    margin-left: 7px;
    width: 18px;
    height: 20px;
  }

  &.icon-product {
    width: 385px;
    height: 385px;
  }

  &.icon-arrow--carousel {
    width: 16px;
    height: 14px;
  }

  &.icon-arrow--sort {
    margin-left: 10px;
    width: 11px;
    height: 7px;
  }

  &.icon-arrow--pagination {
    width: 16px;
    height: 14px;
  }

  &.icon-advntg--delivery {
    width: 76px;
    height: 51px;
  }

  &.icon-advntg--individual {
    width: 66px;
    height: 65px;
  }

  &.icon-advntg--price {
    width: 69px;
    height: 68px;
  }

  &.icon-minus {
    width: 12px;
    height: 4px;
  }

  &.icon-plus {
    width: 13px;
    height: 12px;
  }

  &.icon-refresh {
    width: 23px;
    height: 23px;
  }

  &.icon-close--big {
    width: 21px;
    height: 21px;
  }

  &.icon-close--small {
    width: 15px;
    height: 15px;
  }
}
