@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.table {
  max-width: 1184px;
  width: 100%;
  margin: 45px auto;

  &_title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 900;
  }

  &_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    font-size: 16px;
    @include screen-tb {
      flex-direction: column;
    }
  }

  &_head {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid $color2;
    background: #f2f0f0;

    @include screen-tb {
      width: 100%;
      flex-direction: row;
      border-right: unset;
      border-bottom: 2px solid $color2;
      font-size: 16px;
    }

    span {
      width: 100%;
      height: 20%;
      padding: 15px 10px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: $color1;
      text-align: left;

      @include screen-tb {
        width: 50%;
        height: auto;
        font-size: 14px;
        text-align: center;
      }

      @include screen-l {
        font-size: 16px;
      }
    }
  }

  &_body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include screen-tb {
      width: 100%;
      flex-direction: row;
    }

    span {
      width: 100%;
      height: 20%;
      padding: 15px 10px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.2;
      color: $color1;
      text-align: center;

      @include screen-tb {
        width: 20%;
        height: auto;
        font-size: 14px;
      }
      
      @include screen-l {
        font-size: 16px;
      }
    }
  }
}