.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 30px;
}

.item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn_edit {
  margin-right: 10px;
}