@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.contact {
  position: relative;
  overflow: hidden;

  &_wrapper {
    width: 100%;
    padding: 42px 0 136px;
    margin: 0 auto;
    text-align: center;

    @include screen-l {
      max-width: 485px;
    }
  }

  &_title {
    margin-bottom: 40px;

    @include screen-l {
      font-size: 36px;
    }
  }
}
