@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.section {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  z-index: 25;

  &.default {
    top: -100%;
    background: transparent;
    @include transition;
  }

  &.error {
    top: 0;
    background: $color7;
    @include transition;
  }

  &.success {
    top: 0;
    background: $color5;
    @include transition;
  }
}

.wrapper {
  max-width: 730px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.75;
  color: #ffffff;

  @include screen-tb {
    font-size: 18px;
    line-height: 1.65;
  }

  @include screen-l {
    font-size: 20px;
    line-height: 1.6;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;

  svg path {
    fill: #ffffff;
  }
}