<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <a href="index.html" class="header__logo">
                <svg class="icon icon-logo is-desktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile is-mobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>
            <nav class="header-navigation">
                <a href="about-us.html" class="header-navigation__link">Про нас</a>
                <a href="catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>
            <div class="header-info">
                <a href="#" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>
                        +380636666666
                    </span>
                </a>
                <a href="location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span>
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>
            <div class="header-actions">
                <div href="#" class="header-actions__cart">
                    <svg class="icon icon-cart header-actions__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span>(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow_cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-actions__lang">
                    <svg class="icon icon-lang header-actions__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="/uk">Uk</a>

                    <div class="lang-dropdown">
                        <a href="/sk" class="lang-dropdown__link">Sk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="catalogue-page">

        <div class="container">
            <div class="catalogue-page-inner">

                <ul class="catalogue-page-breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Головна</a></li>
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Види
                            продукції</a></li>
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Тротуарна плитка</a></li>
                    <li class="breadcrumbs__item">Тротуарна</li>
                </ul>

                <div class="catalogue-page-main">
                    <div class="catalogue-page-gallery">
                        <div class="gallery-small">
                            <img src="images/product-tile-curpet.png" alt="Gallery image"
                                class="gallery-small__img act">
                            <img src="images//product-tile-curpet1.png" alt="Gallery image" class="gallery-small__img">
                            <img src="images/product-tile-curpet2.png" alt="Gallery image" class="gallery-small__img">
                        </div>
                        <div class="gallery-large">
                            <img src="images/product-tile-border.png" alt="Gallery image" class="gallery-large__img">
                        </div>
                    </div>

                    <div class="catalogue-page-trade">
                        <h2 class="catalogue-page__status">В наявності</h2>

                        <div class="catalogue-page-trade-wrapper">
                            <h1 class="catalogue-page-trade__title">Коврова</h1>
                            <p class="catalogue-page-trade__price">198,<sup> 00 грн</sup></p>

                            <div class="calc catalogue-page-calc">

                                <button class="calc__remove catalogue-page-calc__remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="calc__count catalogue-page-calc__count" min="1" value="1">
                                <button class="calc__add catalogue-page-calc__add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>
                                <span class="catalogue-page-trade__size">м<sup>2</sup></span>
                            </div>
                            <a href="order-page.html" class="catalogue-page-trade__btn">
                                <svg class="icon icon-cart">
                                    <use href="images/icons/sprite.svg#cart"></use>
                                </svg>
                                В кошик
                            </a>
                        </div>
                    </div>
                </div>

                <div class="catalogue-page-about">
                    <h2 class="catalogue-page-about__title">Опис товару</h2>
                    <table class="catalogue-page-table">
                        <thead class="catalogue-page-table__header">
                            <tr>
                                <th>Товщина (см)</th>
                                <th>Розмір (см)</th>
                                <th>Шт на 1 м2</th>
                                <th>Вага на 1 м2</th>
                                <th>Ціна в базовому окрасі (сірий, червоний)</th>
                            </tr>
                        </thead>
                        <tbody class="catalogue-page-table__body">
                            <tr>
                                <td>2,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>55</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <td>4,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>100</td>
                                <td>210</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="carousel similar-carousel">
                    
                    <div class="carousel-top">
                        <h2 class="carousel__title">
                            Схожі пропозиції
                        </h2>

                        <div class="carousel__navigation">
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-carousel popular-carousel__arrow--left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-carousel popular-carousel__arrow--right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-items similar-carousel-items">
                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-location">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span>Адреса</span>
                </div>
                <span class="footer-item__text">
                    Великий Березний вул. Верховинська, 10
                </span>
            </div>
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>Телефон</span>
                </div>
                <span class="footer-item__text">
                    +380636666666
                </span>
            </div>
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-clock">
                        <use href="images/icons/sprite.svg#clock"></use>
                    </svg>
                    <span>Час роботи</span>
                </div>
                <span class="footer-item__text">
                    Пн-Сб / 9:00 - 20:00
                </span>
            </div>
        </div>
    </div>
</footer>
    <div class="cart-modal active">

    <div class="cart-modal-wrapper">
        <div class="cart-modal-top">
            <h2 class="cart-modal-top__title">
                Товари в кошику
            </h2>
            <button class="cart-modal-top__close" type="button">
                <svg class="icon icon-close--big">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
        </div>

        <div class="cart-modal-description">
            <span class="cart-modal-description__item">Кількість, м<sup>2</sup></span>
            <span class="cart-modal-description__item">Ціна, грн</span>
            <span class="cart-modal-description__item">Сума, грн</span>
        </div>

        <div class="cart-modal-item">
            <button class="cart-modal-item__close" type="button">
                <svg class="icon icon-close-small">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
            <a href="#" class="cart-modal-item__image">
                <img src="images/product-tile-rome.png" alt="Product image">
            </a>
            <div class="cart-modal-item__link">
                <a href="#" class="cart-modal-item__link--type">Дорожні блоки та плити</a>
                <a href="#" class="cart-modal-item__link--title">Бордюр парковий поворотний</a>
            </div>

            <div class="calc cart-modal-calc">
                <button class="calc__remove cart-modal-calc__remove">
                    <svg class="icon icon-minus">
                        <use href="images/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input type="number" class="calc__count cart-modal-calc__count" min="1" value="1">
                <button class="calc__add cart-modal-calc__add">
                    <svg class="icon icon-plus">
                        <use href="images/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>

            <span class="cart-modal-item__price">1200,<sup>00</sup></span>
            <span class="cart-modal-item__sum">120,<sup>00</sup></span>
        </div>

        <div class="cart-modal-bottom">

            <div class="cart-modal-back">
                <span class="cart-modal-back__title">Продовжити покупки</span>
                <button class="cart-modal-back__btn">
                    <svg class="icon icon-arrow">
                        <use href="images/icons/sprite.svg#arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="cart-modal-trade">
                <div class="cart-modal-trade__total">
                    <span class="cart-modal-trade__total--text">Підсумок</span>
                    <span class="cart-modal-trade__total--sum">199980,<sup>00 грн</sup></span>
                </div>
                <button class="cart-modal-trade__btn">Замовити</button>
            </div>
        </div>

    </div>
</div>
</body>

</html>