<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <a href="index.html" class="header__logo">
                <svg class="icon icon-logo is-desktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile is-mobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>
            <nav class="header-navigation">
                <a href="about-us.html" class="header-navigation__link">Про нас</a>
                <a href="catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>
            <div class="header-info">
                <a href="#" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>
                        +380636666666
                    </span>
                </a>
                <a href="location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span>
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>
            <div class="header-actions">
                <div href="#" class="header-actions__cart">
                    <svg class="icon icon-cart header-actions__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span>(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow_cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-actions__lang">
                    <svg class="icon icon-lang header-actions__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="/uk">Uk</a>

                    <div class="lang-dropdown">
                        <a href="/sk" class="lang-dropdown__link">Sk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="presentation">
        <div class="container">
            <div class="presentation-inner">
                <div class="aside-navigation presentation-aside-navigation">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
                <div class="presentation-carousel">
                    <div class="presentation-carousel-top">
                        <h1 class="presentation-carousel-top__title">
                            Тротуарна плитка
                        </h1>
                        <a href="#" class="presentation-carousel-top__descr">
                            Дізнатися більше
                            <svg class="icon icon-arrow--more presentation-carousel-top__icon">
                                <use href="images/icons/sprite.svg#arrow-descr"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="presentation-carousel-right">
                        <div class="presentation-carousel-right__wrapper">
                            <img src="images/presentation/main-tile.png" alt="Image slider"
                                class="presentation-carousel-right__image--top">
                            <img src="images/presentation/main-tile.svg" alt="Image slider" class="presentation-carousel-right__image--bottom">
                        </div>
                    </div>
                    
                    <div class="presentation-carousel__list">
                        <a href="#" class="presentation-carousel__link active">01</a>
                        <a href="#" class="presentation-carousel__link">02</a>
                        <a href="#" class="presentation-carousel__link">03</a>
                    </div>
                </div>
                <!-- Carousel item -->
            </div>
        </div>
    </div>
    <div class="popular">
        <div class="container">
            <div class="popular-inner">
                <div class="aside-navigation popular-aside-navigation">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link--dark">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link--dark">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link--dark">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link--dark">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link--dark">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link--dark">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link--dark">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link--dark">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download-popular"></use>
                        </svg>
                    </a>
                </div>
                <!-- Carousel -->
                <div class="carousel popular-carousel">

                    <div class="carousel-top">
                        <h2 class="carousel__title">
                            Популярні товари
                        </h2>
                        <div class="carousel__navigation">
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel popular-carousel__arrow--left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel popular-carousel__arrow--right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="carousel-items popular-carousel-items">
                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="advantages">
        <div class="container">
            <div class="advantages-inner">
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Доставка по регіону
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--delivery">
                            <use href="images/icons/sprite.svg#advntg-delivery"></use>
                        </svg>
                    </div>
                </div>
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Доставка по регіону
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--individual">
                            <use href="images/icons/sprite.svg#advntg-individual"></use>
                        </svg>
                    </div>
                </div>
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Доставка по регіону
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--price">
                            <use href="images/icons/sprite.svg#advntg-price"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us">
        <div class="container">
            <div class="contact-us-inner">
                <h2 class="contact-us__title">
                    Зв'яжіться з нами
                </h2>
                <form action="#" class="form contact-us-form">
                    <div class="input-field contact-us-field">
                        <input class="input contact-us__input" required>
                        <label for="#" class="label contact-us__label">Ваше Ім’я</label>
                    </div>
                    <div class="input-field contact-us-field">
                        <input class="input contact-us__input" required>
                        <label for="#" class="label contact-us__label">Ваше номер телефону</label>
                    </div>
                    <div class="input-field contact-us-field">
                        <textarea class="textarea contact-us__textarea"></textarea>
                        <label for="#" class="label contact-us__label--textarea">Ваш комментарій</label>
                    </div>
                    <p class="contact-us__required required">обов’язкові поля</p>
                    <button class="btn-sent btn-orange contact-us__btn" type="submit">Відправити</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-location">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span>Адреса</span>
                </div>
                <span class="footer-item__text">
                    Великий Березний вул. Верховинська, 10
                </span>
            </div>
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>Телефон</span>
                </div>
                <span class="footer-item__text">
                    +380636666666
                </span>
            </div>
            <div class="footer-item">
                <div class="footer-item__title">
                    <svg class="icon icon-clock">
                        <use href="images/icons/sprite.svg#clock"></use>
                    </svg>
                    <span>Час роботи</span>
                </div>
                <span class="footer-item__text">
                    Пн-Сб / 9:00 - 20:00
                </span>
            </div>
        </div>
    </div>
</footer>
</body>

</html>