<div class="cart-modal active">

    <div class="cart-modal-wrapper">
        <div class="cart-modal-top">
            <h2 class="cart-modal-top__title">
                Товари в кошику
            </h2>
            <button class="cart-modal-top__close" type="button">
                <svg class="icon icon-close--big">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
        </div>

        <div class="cart-modal-description">
            <span class="cart-modal-description__item">Кількість, м<sup>2</sup></span>
            <span class="cart-modal-description__item">Ціна, грн</span>
            <span class="cart-modal-description__item">Сума, грн</span>
        </div>

        <div class="cart-modal-item">
            <button class="cart-modal-item__close" type="button">
                <svg class="icon icon-close-small">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
            <a href="#" class="cart-modal-item__image">
                <img src="images/product-tile-rome.png" alt="Product image">
            </a>
            <div class="cart-modal-item__link">
                <a href="#" class="cart-modal-item__link--type">Дорожні блоки та плити</a>
                <a href="#" class="cart-modal-item__link--title">Бордюр парковий поворотний</a>
            </div>

            <div class="calc cart-modal-calc">
                <button class="calc__remove cart-modal-calc__remove">
                    <svg class="icon icon-minus">
                        <use href="images/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input type="number" class="calc__count cart-modal-calc__count" min="1" value="1">
                <button class="calc__add cart-modal-calc__add">
                    <svg class="icon icon-plus">
                        <use href="images/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>

            <span class="cart-modal-item__price">1200,<sup>00</sup></span>
            <span class="cart-modal-item__sum">120,<sup>00</sup></span>
        </div>

        <div class="cart-modal-bottom">

            <div class="cart-modal-back">
                <span class="cart-modal-back__title">Продовжити покупки</span>
                <button class="cart-modal-back__btn">
                    <svg class="icon icon-arrow">
                        <use href="images/icons/sprite.svg#arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="cart-modal-trade">
                <div class="cart-modal-trade__total">
                    <span class="cart-modal-trade__total--text">Підсумок</span>
                    <span class="cart-modal-trade__total--sum">199980,<sup>00 грн</sup></span>
                </div>
                <button class="cart-modal-trade__btn">Замовити</button>
            </div>
        </div>

    </div>
</div>