<div class="cart isActive">

    <div class="cart-block">
        <div class="cart-header">
            <h2 class="cart-header__title">
                Товари в кошику
            </h2>
            <button class="cart-header__close" type="button">
                <svg class="icon icon-close--big">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
        </div>

        <div class="cart-description">
            <span class="cart-description__item">Кількість, м<sup>2</sup></span>
            <span class="cart-description__item">Ціна, грн</span>
            <span class="cart-description__item">Сума, грн</span>
        </div>

        <div class="cart-item">
            <div class="cart-item__product">
                <button class="cart-item__close" type="button">
                    <svg class="icon icon-close-small">
                        <use href="images/icons/sprite.svg#close"></use>
                    </svg>
                </button>
                <a href="#" class="cart-item__image">
                    <img src="images/product-tile-rome.png" alt="Product image">
                </a>
                <div class="cart-item__link">
                    <a href="#" class="cart-item__link--type">Дорожні блоки та плити</a>
                    <a href="#" class="cart-item__link--title">Бордюр парковий поворотний</a>
                </div>
            </div>

            <div class="calc cart-calc">
                <button class="calc__remove cart-calc__remove">
                    <svg class="icon icon-minus">
                        <use href="images/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input type="number" class="calc__count cart-calc__count" min="1" value="1">
                <button class="calc__add cart-calc__add">
                    <svg class="icon icon-plus">
                        <use href="images/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>
            <div class="cart-item_summary">
                <span class="cart-item__price">1200,<sup>00</sup></span>
                <span class="cart-item__sum">120,<sup>00</sup></span>
            </div>
        </div>

        <div class="cart-item">
            <button class="cart-item__close" type="button">
                <svg class="icon icon-close-small">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
            <a href="#" class="cart-item__image">
                <img src="images/product-tile-rome.png" alt="Product image">
            </a>
            <div class="cart-item__link">
                <a href="#" class="cart-item__link--type">Дорожні блоки та плити</a>
                <a href="#" class="cart-item__link--title">Бордюр парковий поворотний</a>
            </div>

            <div class="calc cart-calc">
                <button class="calc__remove cart-calc__remove">
                    <svg class="icon icon-minus">
                        <use href="images/icons/sprite.svg#minus"></use>
                    </svg>
                </button>
                <input type="number" class="calc__count cart-calc__count" min="1" value="1">
                <button class="calc__add cart-calc__add">
                    <svg class="icon icon-plus">
                        <use href="images/icons/sprite.svg#plus"></use>
                    </svg>
                </button>
            </div>

            <span class="cart-item__price">1200,<sup>00</sup></span>
            <span class="cart-item__sum">120,<sup>00</sup></span>
        </div>
        <div class="cart-bottom">

            <div class="cart-back">
                <span class="cart-back__title">Продовжити покупки</span>
                <button class="cart-back__btn">
                    <svg class="icon icon-arrow">
                        <use href="images/icons/sprite.svg#arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="cart-trade">
                <div class="cart-trade__total">
                    <span class="cart-trade__total--text">Підсумок</span>
                    <span class="cart-trade__total--sum">199980,<sup>00 грн</sup></span>
                </div>
                <button class="cart-trade__btn">Замовити</button>
            </div>
        </div>

    </div>
</div>