<header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <div class="header-menu">
                <span class="header-menu__background"></span>
                <div class="aside-navigation header-menu__aside">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="./index.html" class="header-logo">
                <svg class="icon icon-logo isDesktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile isMobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>

            <nav class="header-navigation">
                <a href="./about-us.html" class="header-navigation__link">Про нас</a>
                <a href="./catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>

            <div class="header-info">
                <a href="tel:+380636666666" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="header-info__phone">
                        +380636666666
                    </span>
                </a>
                <a href="./location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="header-info__location">
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>

            <div class="header-action">
                <div href="#" class="header-action__cart">
                    <svg class="icon icon-cart header-action__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span class="header-action__text">(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow_cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-action__lang">
                    <svg class="icon icon-lang header-action__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="#" class="header-action__text">Uk</a>
                </div>
            </div>

        </div>
    </div>
</header>