<header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <a href="index.html" class="header__logo">
                <svg class="icon icon-logo is-desktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile is-mobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>
            <nav class="header-navigation">
                <a href="about-us.html" class="header-navigation__link">Про нас</a>
                <a href="catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>
            <div class="header-info">
                <a href="#" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>
                        +380636666666
                    </span>
                </a>
                <a href="location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span>
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>
            <div class="header-actions">
                <div href="#" class="header-actions__cart">
                    <svg class="icon icon-cart header-actions__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span>(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow_cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-actions__lang">
                    <svg class="icon icon-lang header-actions__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="/uk">Uk</a>

                    <div class="lang-dropdown">
                        <a href="/sk" class="lang-dropdown__link">Sk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>