<div class="request">
    <div class="request-menu">
        <span class="request-menu__background"></span>
        <div class="request-menu-block">
            <h2 class="request-menu__title">
                Зв'яжіться з нами
            </h2>
            <form action="#" class="form request-menu-form">
                <div class="input-field request-menu-field">
                    <input class="input request-menu__input" required>
                    <label for="#" class="label request-menu__label">Ваше Ім’я</label>
                </div>
                <div class="input-field request-menu-field">
                    <input class="input request-menu__input" required>
                    <label for="#" class="label request-menu__label">Ваше номер телефону</label>
                </div>
                <div class="input-field request-menu-field">
                    <textarea class="textarea request-menu__textarea"></textarea>
                    <label for="#" class="label request-menu__label--textarea">Ваш комментарій</label>
                </div>
                <p class="required request-menu__required">обов’язкові поля</p>
                <button class="btn-sent btn-orange request-menu__btn" type="submit">Відправити</button>
            </form>
        </div>
    </div>
    <div class="request-button">
        <button class="request-button__item">
            <svg class="icon icon-request">
                <use href="images/icons/sprite.svg#request"></use>
            </svg>
        </button>
    </div>
</div>