<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    @@include('_header.html')

    <div class="about-us">
        <div class="about-us__background"></div>
        <div class="about-us-inner">
            <div class="about-us__block">
                <h2 class="about-us__title">Про нас</h2>
                <p class="about-us__text">
                    <span class="about-us__highlight highlight-top">ПП - Пінцак</span>
                    здійснює свою діяльність з 2007 року. Ми займаємось
                    виробництвом широкого асортименту бетонних виробів.
                </p>
                <a href="#" class="about-us__catalogue">
                    Каталог
                    <svg class="icon icon-download">
                        <use href="images/icons/sprite.svg#download-catalogue"></use>
                    </svg>
                </a>
                <p class="about-us__text">Наше підприємство розташоване в с. Мирча, Великоберезнянський район,
                    але попитом наша продукція користується не тільки по всій Закарпатській області, а також
                    частими покупцями нашої продукції є громадяни Словаччини та Угорщини.</p>
            </div>

            <div class="about-us__block">
                <h2 class="about-us__title">Виробництво</h2>
                <p class="about-us__text"><span class="about-us__highlight highlight-bottom">На сьогоднішній день ми
                        виробляємо</span> бетонні накриття для огорож та
                    стовпців, парапети,
                    тротуарну та фасадну плитки, бордюри, глечики та елементи садово-паркового декору, а також
                    збірні секції євроогорожей.</p>
                <p class="about-us__text">
                    В основі виробничого процесу лежить вібролиття, яке забезпечує максимальну надійність виробу
                    та в повній мірі відтворює його текстуру. Виробництво здійснюється в такі етапи:
                </p>
                <ol class="about-us__list">
                    <li class="about-us__item">Змащення підібраних форм</li>
                    <li class="about-us__item">Підготовка бетонної суміші</li>
                    <li class="about-us__item">Заповнення форм бетоном</li>
                    <li class="about-us__item">Визрівання виробу</li>
                    <li class="about-us__item">Виконання розпалубочних робіт</li>
                    <li class="about-us__item">Складування готової продукції</li>
                </ol>
                <a href="#" class="btn-catalogue btn-orange about-us__link">Перейти В Магазин</a>
            </div>
        </div>
    </div>
    @@include('_footer.html')
</body>

</html>