<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    @@ include('_header.html')

    <div class="catalogue">
        <div class="container">
            <div class="catalogue-inner">
                <div class="catalogue-aside">
                    <div class="aside-navigation catalogue-aside-navigation">
                        <h2 class="aside-navigation__header">
                            Види продукції
                        </h2>
                        <div class="aside-navigation__list list-dark">
                            <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                            <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                            <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                            <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                            <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                            <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                            <a href="#" class="aside-navigation__link">Євроогорожі</a>
                            <a href="#" class="aside-navigation__link">Садовий декор</a>
                        </div>
                        <a href="#" class="aside-navigation__download">
                            Каталог
                            <svg class="icon icon-download aside-navigation__icon">
                                <use href="images/icons/sprite.svg#download-popular"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="aside-popular catalogue-aside-popular">
                        <h4 class="aside-popular__header">Популярні товари</h4>
                        <div class="aside-popular__block">
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalogue-wrapper">
                    <div class="catalogue-header">
                        <h1 class="catalogue__title">
                            Фасадний камінь
                        </h1>
                        <div class="catalogue-sort">
                            <span class="catalogue-sort__title">Сортування:</span>
                            <div class="catalogue-sort__block">
                                <a href="#" class="catalogue-sort__size">
                                    за розміром
                                    <svg class="icon icon-arrow--sort catalogue-sort__icon">
                                        <use href="images/icons/sprite.svg#arrow-sort"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalogue-sort__price">
                                    за ціною
                                    <svg class="icon icon-arrow--sort catalogue-sort__icon">
                                        <use href="images/icons/sprite.svg#arrow-sort"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="catalogue-block">
                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    15 x 15
                                </span>
                                <span class="product__price">
                                    2220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="catalogue-pagination">
                        <a href="#" class="catalogue-pagination__btn">
                            <svg class="icon icon-refresh pagination-icon__refresh">
                                <use href="images/icons/sprite.svg#refresh"></use>
                            </svg>
                            Показати ще 12 товарів
                        </a>

                        <div class="catalogue-pagination-block">
                            <a href="#" class="catalogue-pagination__step">
                                <svg class="icon icon-arrow--pagination pagination-icon__left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <div class="catalogue-pagination-pages">
                                <a href="#" class="catalogue-pagination__link">1</a>
                                <a href="#" class="catalogue-pagination__link">2</a>
                                <a href="#" class="catalogue-pagination__link">3</a>
                                <a href="#" class="catalogue-pagination__link">4</a>
                            </div>
                            <a href="#" class="catalogue-pagination__step">
                                <svg class="icon icon-arrow--pagination pagination-icon__right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@ include('_footer.html')
</body>

</html>