<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body class="body">
    @@include('_header.html')
    <div class="presentation">
        <div class="container">
            <div class="presentation-inner">
                <div class="aside-navigation presentation-aside-navigation">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download aside-navigation__icon">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
                <div class="presentation-carousel">
                    <div class="presentation-carousel-header">
                        <h1 class="presentation-carousel-header__title">
                            Тротуарна плитка
                        </h1>
                        <a href="#" class="presentation-carousel-header__descr">
                            Дізнатися більше
                            <svg class="icon icon-arrow--more presentation-carousel-header__icon">
                                <use href="images/icons/sprite.svg#arrow-descr"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="presentation-carousel__block">
                        <div class="presentation-carousel__item">
                            <img src="./images/carousel/slide-1.png" alt="Carousel item" class="presentation-carousel__image">
                        </div>
                        <!-- <div class="presentation-carousel__item">
                            <img src="./images/carousel/slide-2.png" alt="Carousel item" class="presentation-carousel__image">
                        </div>
                        <div class="presentation-carousel__item">
                            <img src="./images/carousel/slide-3.png" alt="Carousel item" class="presentation-carousel__image">
                        </div> -->
                    </div>
                    
                    <div class="presentation-carousel__navigation">
                        <a href="#" class="presentation-carousel__dot isActive">01</a>
                        <a href="#" class="presentation-carousel__dot">02</a>
                        <a href="#" class="presentation-carousel__dot">03</a>
                    </div>
                </div>
                <!-- Carousel item -->
            </div>
        </div>
    </div>
    <div class="popular">
        <div class="container">
            <div class="popular-inner">
                <div class="aside-navigation popular-aside-navigation">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list list-dark">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download aside-navigation__icon">
                            <use href="images/icons/sprite.svg#download-popular"></use>
                        </svg>
                    </a>
                </div>
                <!-- Carousel -->
                <div class="carousel popular-carousel">

                    <div class="carousel-header">
                        <h2 class="carousel__title">
                            Популярні товари
                        </h2>
                        <div class="carousel__navigation">
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-block popular-carousel-block">
                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="advantages">
        <div class="container">
            <div class="advantages-inner">
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Доставка по регіону
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--delivery">
                            <use href="images/icons/sprite.svg#advntg-delivery"></use>
                        </svg>
                    </div>
                </div>
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Індивідуальний підхід
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--individual">
                            <use href="images/icons/sprite.svg#advntg-individual"></use>
                        </svg>
                    </div>
                </div>
                <div class="advantages__item">
                    <h3 class="advantages__title">
                        Лояльні ціни
                    </h3>
                    <div class="advantages__image">
                        <svg class="icon icon-advntg--price">
                            <use href="images/icons/sprite.svg#advntg-price"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us">
        <div class="container">
            <div class="contact-us-inner">
                <h2 class="contact-us__title">
                    Зв'яжіться з нами
                </h2>
                <form action="#" class="form contact-us-form">
                    <div class="input-field contact-us-field">
                        <input class="input contact-us__input" required>
                        <label for="#" class="label contact-us__label">Ваше Ім’я</label>
                    </div>
                    <div class="input-field contact-us-field">
                        <input class="input contact-us__input" required>
                        <label for="#" class="label contact-us__label">Ваше номер телефону</label>
                    </div>
                    <div class="input-field contact-us-field">
                        <textarea class="textarea contact-us__textarea"></textarea>
                        <label for="#" class="label contact-us__label--textarea">Ваш комментарій</label>
                    </div>
                    <p class="required contact-us__required">обов’язкові поля</p>
                    <button class="btn-sent btn-orange contact-us__btn" type="submit">Відправити</button>
                </form>
            </div>
        </div>
    </div>
    @@include('_request.html')
    @@include('_footer.html')
</body>

</html>