<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    @@ include('_header.html')

    <div class="location">
        <div class="location-inner">
            <div class="location-wrapper">
                <div class="location-info">
                    <div class="location-info__block">
                        <div class="location-info__item">
                            <svg class="icon icon-location--map">
                                <use href="images/icons/sprite.svg#location"></use>
                            </svg>
                            <span class="location-info__title">Адреса</span>
                        </div>
                        <p class="location-info__text">Великий Березний вул. Верховинська, 10</p>
                    </div>

                    <div class="location-info__block">
                        <div class="location-info__item">
                            <svg class="icon icon-phone">
                                <use href="images/icons/sprite.svg#phone"></use>
                            </svg>
                            <span class="location-info__title">Телефон</span>
                        </div>
                        <p class="location-info__text">+380636666666</p>
                    </div>

                    <div class="location-info__block">
                        <div class="location-info__item">
                            <svg class="icon icon-clock">
                                <use href="images/icons/sprite.svg#clock"></use>
                            </svg>
                            <span class="location-info__title">Час роботи</span>
                        </div>
                        <p class="location-info__text">Пн-Сб / 9:00 - 20:00</p>
                    </div>

                </div>
            </div>

            <div class="location-map">
                <h2 class="location-map__title">Ми знаходимося тут</h2>
                <iframe class="location-map__item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20985.13348299062!2d22.445753894112872!3d48.89363688983936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473969dd21b78947%3A0x626f5d1fd5a46e04!2sVelykyi%20Bereznyi%2C%20Zakarpattia%20Oblast%2C%2089000!5e0!3m2!1sen!2sua!4v1590767813682!5m2!1sen!2sua"
                    allowfullscreen width="600" height="400">
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>