<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body class="body">
    @@ include('_header.html')
    @@ include('_popup.html')

    <div class="order">
        <div class="container">
            <div class="order-inner">
                <div class="order-send">
                    <h2 class="order-send__title">
                        Відправити замовлення
                    </h2>
                    <p class="order-send__text">Будь ласка, заповніть обов'язкові поля і ми зв'яжемося з вами по
                        вашому замовленню</p>

                    <form action="#" class="form order-form">
                        <div class="input-field order-field">
                            <input class="input order__input" required>
                            <label for="#" class="label order__label">Ваше Ім’я</label>
                        </div>
                        <div class="input-field order-field">
                            <input class="input order__input" required>
                            <label for="#" class="label order__label">Ваше номер телефону</label>
                        </div>
                        <div class="input-field order-field">
                            <textarea class="textarea order__textarea"></textarea>
                            <label for="#" class="label order__label--textarea">Ваш комментарій</label>
                        </div>
                        <p class="required order__required">обов’язкові поля</p>
                        <button class="btn-sent btn-orange order__btn" type="submit">Відправити</button>
                    </form>
                </div>

                <div class="order-cart">
                    <div class="order-edit">
                        <span class="order-edit__title">Редагувати замовлення</span>
                        <button class="order-edit__btn">
                            <svg class="icon icon-arrow">
                                <use href="images/icons/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="order-trade">
                        <h2 class="order-trade__title">
                            Замовлення
                        </h2>
                        <div class="order-trade__coast">
                            <span class="order-trade__sum">Підсумок:</span>
                            <span class="order-trade__price">172 422,00 грн</span>
                        </div>
                    </div>
                    <div class="order-list">
                        <div class="order-list__item">
                            <img src="images/product-tile-border.png" alt="List image" class="order-list__image">
                            <a class="order-list__title">Бордюр поворотний</a>
                            <span class="order-list__size">75 м<sup>2</sup></span>
                            <span class="order-list__price">4567,00 грн</span>
                        </div>
                        <div class="order-list__item">
                            <img src="images/product-tile-border.png" alt="List image" class="order-list__image">
                            <a class="order-list__title">Бордюр парковий</a>
                            <span class="order-list__size">10 м<sup>2</sup></span>
                            <span class="order-list__price">456,00 грн</span>
                        </div>
                        <div class="order-list__item">
                            <img src="images/product-tile-border.png" alt="List image" class="order-list__image">
                            <a class="order-list__title">Бордюр парковий</a>
                            <span class="order-list__size">10 м<sup>2</sup></span>
                            <span class="order-list__price">456,00 грн</span>
                        </div>
                        <div class="order-list__item">
                            <img src="images/product-tile-border.png" alt="List image" class="order-list__image">
                            <a class="order-list__title">Бордюр парковий</a>
                            <span class="order-list__size">10 м<sup>2</sup></span>
                            <span class="order-list__price">456,00 грн</span>
                        </div>
                        <div class="order-list__item">
                            <img src="images/product-tile-border.png" alt="List image" class="order-list__image">
                            <a class="order-list__title">Бордюр парковий</a>
                            <span class="order-list__size">10 м<sup>2</sup></span>
                            <span class="order-list__price">456,00 грн</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@ include('_footer.html')
</body>

</html>