<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    @@ include('_header.html')
    <div class="product">
        <div class="container">
            <div class="product-inner">
                <a href="#" class="product-back">
                    <svg class="icon icon-arrow--cart product-back__icon">
                        <use href="images/icons/sprite.svg#arrow-cart"></use>
                    </svg>
                    Тротуарна
                </a>
                <ul class="product-breadcrumbs">
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Головна</a></li>
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Види
                            продукції</a></li>
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Тротуарна
                            плитка</a></li>
                    <li class="product-breadcrumbs__item">Тротуарна</li>
                </ul>

                <div class="product-block">
                    <span class="product__status">В наявності</span>
                    <div class="product-gallery">
                        <div class="product-gallery__small">
                            <img src="images/product-tile-curpet.png" alt="Gallery image"
                                class="gallery-small__img">
                            <img src="images//product-tile-curpet1.png" alt="Gallery image"
                                class="product-gallery__img">
                            <img src="images/product-tile-curpet2.png" alt="Gallery image" class="product-gallery__img">
                        </div>
                        <div class="product-gallery__large">
                            <img src="images/product-tile-border.png" alt="Gallery image" class="product-gallery__img">
                        </div>
                    </div>
                    <div class="product-trade">
                        <div class="product-trade-wrapper">
                            <h1 class="product-trade__title">Коврова</h1>
                            <p class="product-trade__price">190,<sup> 00 грн</sup></p>

                            <div class="calc product-calc">
                                <button class="calc__remove product-calc__remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="calc__count product-calc__count" min="1" value="1">
                                <button class="calc__add product-calc__add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>
                                <span class="product-trade__size">м<sup>2</sup></span>
                            </div>
                            <a href="./order-page.html" class="product-trade__btn">
                                <svg class="icon icon-cart">
                                    <use href="images/icons/sprite.svg#cart"></use>
                                </svg>
                                В кошик
                            </a>
                        </div>
                    </div>
                </div>

                <div class="product-table">
                    <h2 class="product-table__header">Опис товару</h2>
                    <table class="product-table__block">
                        <thead class="product-table__title">
                            <tr>
                                <th>Товщина (см)</th>
                                <th>Розмір (см)</th>
                                <th>Шт на 1 м2</th>
                                <th>Вага на 1 м2</th>
                                <th>Ціна в базовому окрасі <span>(сірий, червоний)</span></th>
                            </tr>
                        </thead>
                        <tbody class="product-table__body">
                            <tr>
                                <td>2,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>55</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <td>4,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>100</td>
                                <td>210</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="carousel product-carousel">

                    <div class="carousel-header">
                        <h2 class="carousel__title">
                            Схожі пропозиції
                        </h2>
                        <div class="carousel__navigation">
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-block product-carousel-block">
                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    @@ include('_footer.html')
    @@ include('_cart.html')
</body>

</html>