@import './_mixins.scss';

.container {
  @include container_width();
  padding: 0 15px;

  @include screen-tb {
    padding: 0 20px;
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
