@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap");
$fontfamily: "Noto Sans",
sans-serif;

$color1: #373f48;
$color2: #ff8e01;
$color3: #f2f0f0;
$color4: #999999;
$color5: #5ab87f;
$color6: #ffc174;
$color7: #ff6363;