.container {
  position: fixed;
  top: 10%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: #373f48;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.append {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0;

  .appender {
    padding: 15px 40px;
    margin: 0 auto;
    text-align: center;
  }
}

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .switcher {
    position: relative;
    transition: all 0.3s ease-out;
    font-size: 18px;
    font-weight: 900;
    color: #373f48;

    &.active {
      color: #ff8e01;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: #ff8e01;
    }

    &:hover {
      transition: all 0.3s ease-out;
      color: #ff8e01;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 0;
}
