@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.dashboard {
  &_wrapper {
    padding: 50px 0;

    @include screen-tb {
      padding: 100px 0;
    }

    @include screen-l {
      padding: 150px 0;
    }
  }

  &_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &_append {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;

    @include screen-l {
      padding: 80px 0;
      flex-direction: row;
    }
  }

  &_appender {
    min-width: 250px;
    padding: 15px 40px;
    margin: 0 auto 25px;
    text-align: center;

    @include screen-l {
      flex-direction: row;
    }
  }

  &_switch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_switcher {
    position: relative;
    @include transition;
    font-size: 18px;
    font-weight: 900;
    color: $color1;

    &.active {
      color: $color2;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: $color2;
    }

    &:hover {
      @include transition;
      color: $color2;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &_items {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
}