@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 35px 15px;
  background: rgba(55, 63, 72, 0.76);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen-l() {
    padding: 27px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 862px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: 4px 4px 0px 0px;
  background: $color3;

  @include screen-l() {
    padding: 20px 30px;
    margin-bottom: 30px;
  }

  &_title {
    font-weight: 900;
    color: $color1;

    @include screen-tb() {
      font-size: 18px;
    }

    @include screen-l() {
      font-size: 20px;
    }
  }

  &_close {
    background: $color3;
  }
}

.description {
  @include hidden();
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 15px;

  @include screen-l() {
    display: flex;
    visibility: visible;
  }

  &_item {
    padding: 0 25px;
    color: $color4;

    &:last-child {
      padding: 0 40px 0 20px;
    }
  }
}

.list {
  height: 45vh;
  overflow-y: auto;

  @include screen-sm() {
    height: 50vh;
  }
}

.item {
  display: flex;
  flex-direction: column;
  padding: 32px 15px 28px;

  @include screen-l() {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 30px;

    &:first-child {
      padding: 15px 30px 22px;
    }
  }

  &:nth-child(2n + 0) {
    background: $color3;
  }

  &_close {
    position: absolute;
    top: 8px;
    left: 8px;
    background: transparent;
    z-index: 20;

    @include screen-sm() {
      position: relative;
      top: 0;
      left: 0;
      margin: 0px 25px 0px 0px;
    }
  }

  &_wrapper {
    position: relative;
    display: flex;
    flex: 1;
  }

  &_image {
    position: relative;
    max-width: 132px;
    width: 100%;
    padding-top: 25%;
    margin: 0px 15px 0px 0px;
    background: #ffffff;
    border: 1px solid $color4;

    @include screen-sm() {
      padding-top: 13%;
    }

    @include screen-l() {
      padding-top: 20%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &_type {
    margin-bottom: 10px;
    font-size: 12px;
    color: $color4;

    @include screen-tb() {
      font-size: 14px;
    }
  }

  &_title {
    font-size: 14px;
    line-height: 16px;
    color: $color1;

    @include screen-tb() {
      font-size: 16px;
    }
  }

  &_total {
    display: flex;
    flex-direction: column;

    @include screen-sm() {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &_coast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 0px;
  }

  &_price {
    min-width: 85px;
    margin-left: 43px;
    text-align: center;
    color: $color1;
  }

  &_summary {
    min-width: 85px;
    padding: 5px 0;
    margin-left: 30px;
    background: #ffecd4;
    border-radius: 4px;
    text-align: center;
    color: $color1;
  }
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 32px 0 42px;

  @include screen-tb() {
    flex-direction: row;
  }
}

.back {
  margin-bottom: 52px;
  cursor: pointer;

  &_title {
    margin-right: 12px;
    font-weight: 600;
  }

  &_btn {
    min-width: 33px;
    padding: 6px 12px;
    margin-left: 15px;
    border-radius: 4px;
    background: $color2;
  }

  &_icon {
    path {
      fill: #ffffff;
    }
  }
}

.total {
  text-align: center;
}

.coast {
  margin-bottom: 15px;
}

.total {
  margin-right: 8px;
  font-size: 16px;
  color: $color1;
}

.sum {
  font-size: 16px;
  font-weight: 600;
  color: $color1;
}

.btn {
  min-width: 143px;
  padding: 8px 28px;
  border-radius: 4px;
  background: $color2;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
}