@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 35px 15px;
  background: rgba(55, 63, 72, 0.76);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen-l {
    padding: 27px;
  }

  &_wrapper {
    position: relative;
    width: 100%;
    max-width: 862px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 4px 4px 0 0;
    background: $color3;

    @include screen-l {
      padding: 20px 30px;
      margin-bottom: 30px;
    }

    .header_title {
      font-weight: 900;
      color: $color1;

      @include screen-tb {
        font-size: 18px;
      }

      @include screen-l {
        font-size: 20px;
      }
    }

    .header_close {
      background: $color3;
    }
  }

  &_description {
    @include hidden;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 15px;

    @include screen-l {
      display: flex;
      visibility: visible;
    }

    .description_item {
      padding: 0 25px;
      color: $color4;

      &:first-child {
        padding: 0 60px 0 0;
      }

      &:last-child {
        padding: 0 40px 0 20px;
      }
    }
  }

  &_list {
    height: 45vh;
    overflow-y: auto;

    @include screen-sm {
      height: 50vh;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    padding: 32px 15px 28px;

    @include screen-l {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 22px 30px;

      &:first-child {
        padding: 15px 30px 22px;
      }
    }

    &:nth-child(2n + 0) {
      background: $color3;
    }

    .item_close {
      position: absolute;
      top: 8px;
      left: 8px;
      background: transparent;
      z-index: 20;

      @include screen-sm {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 25px;
      }
    }

    .item_wrapper {
      position: relative;
      display: flex;
      flex: 1;
    }

    .item_image {
      position: relative;
      max-width: 132px;
      width: 100%;
      padding-top: 25%;
      margin-right: 15px;
      background: #ffffff;
      border: 1px solid $color4;

      @include screen-sm {
        padding-top: 13%;
      }

      @include screen-l {
        padding-top: 20%;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .item_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .item_type {
      margin-bottom: 10px;
      font-size: 12px;
      color: $color4;

      @include screen-tb {
        font-size: 14px;
      }
    }

    .item_title {
      font-size: 14px;
      line-height: 16px;
      color: $color1;

      @include screen-tb {
        font-size: 16px;
      }
    }

    .item_total {
      display: flex;
      flex-direction: column;

      @include screen-sm {
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .item_cost {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    .item_price {
      min-width: 85px;
      margin-left: 43px;
      text-align: center;
      color: $color1;
    }

    .item_summary {
      min-width: 85px;
      padding: 5px 0;
      margin-left: 30px;
      background: #ffecd4;
      border-radius: 4px;
      text-align: center;
      color: $color1;
    }
  }

  &_order {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0 42px;

    @include screen-tb {
      flex-direction: row;
    }

    .order_total {
      text-align: center;
    }

    .order_cost {
      margin-bottom: 15px;
    }

    .order_total {
      margin-right: 8px;
      font-size: 16px;
      color: $color1;
    }

    .order_summary {
      font-size: 16px;
      font-weight: 600;
      color: $color1;
    }

    .order_back {
      margin-bottom: 52px;
      cursor: pointer;

      .back_title {
        margin-right: 12px;
        font-weight: 600;
        color: $color1;
      }

      .back_button {
        min-width: 33px;
        padding: 6px 12px;
        border-radius: 4px;
        background: $color2;
      }

      .back_icon {
        path {
          fill: #ffffff;
        }
      }
    }

    .order_button {
      min-width: 143px;
      display: block;
      padding: 8px 28px;
      border-radius: 4px;
      font-size: 16px;
    }
  }

  &_empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .empty_icon {
      margin-bottom: 20px;

      @include screen-l {
        margin-bottom: 40px;
      }
    }

    .empty_title {
      font-size: 16px;
      font-weight: 900;
      line-height: 1.35;
      color: $color1;
      text-align: center;
      
      @include screen-l {
        font-size: 22px;
      }
    }
  }
}