@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.icon {
  width: 1em;
  height: 1em;

  &-arrow {
    width: 10px;
    height: 9px;
  }

  &-approach {
    width: 66px;
    height: 65px;
  }
  
  &-carousel {
    width: 16px;
    height: 14px;
  }

  &-cart {
    width: 21px;
    height: 23px;
  }

  &-catalogue {
    width: 18px;
    height: 20px;
    margin-left: 20px;
    @include transition;

    &:hover {
      fill: $color6;
      @include transition;
    }
  }

  &-checkbox {
    width: 21px;
    height: 21px;
  }
  
  &-clock {
    margin-right: 12px;
    width: 22px;
    height: 21px;
  }

  &-delivery {
    width: 76px;
    height: 51px;
  }

  &-description {
    width: 51px;
    height: 14px;
  }

  &-lang {
    width: 23px;
    height: 23px;

    @include screen-tb {
      width: 18px;
      height: 18px;
    }
  }

  &-location {
    margin-right: 12px;
    width: 15px;
    height: 20px;
  }

  &-logo {
    width: 78px;
    height: 32px;
  }

  &-logout {
    width: 30px;
    height: 30px;
  }

  &-mobile {
    width: 25px;
    height: 25px;
  }

  &-pagination {
    width: 16px;
    height: 14px;
  }

  &-phone {
    margin-right: 12px;
    width: 19px;
    height: 19px;
  }

  &-price {
    width: 69px;
    height: 68px;
  }

  &-refresh {
    width: 23px;
    height: 23px;
  }

  &-sort {
    margin-left: 10px;
    width: 11px;
    height: 7px;
  }

  &-success {
    width: 21px;
    height: 23px;
  }

  &.icon-product {
    width: 385px;
    height: 385px;
  }

  &.icon-request {
    width: 21px;
    height: 21px;

    @include screen-tb {
      width: 28px;
      height: 28px;
    }
  }

  &.icon-close--big {
    width: 15px;
    height: 15px;

    @include screen-tb {
      width: 21px;
      height: 21px;
    }
  }

  &.icon-close--small {
    width: 15px;
    height: 15px;
  }

  &.icon-close--popup {
    width: 13px;
    height: 13px;

    @include screen-tb {
      width: 20px;
      height: 20px;
    }
  }
}