.icon {
  width: 1em;
  height: 1em;

  &-logo {
    width: 78px;
    height: 32px;
  }

  &-mobile {
    width: 25px;
    height: 25px;
  }

  &-phone {
    margin-right: 12px;
    width: 19px;
    height: 19px;
  }

  &-lang {
    width: 23px;
    height: 23px;

    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }

  &-location {
    margin-right: 12px;
    width: 15px;
    height: 20px;
  }

  &-clock {
    margin-right: 12px;
    width: 22px;
    height: 21px;
  }

  &-description {
    width: 51px;
    height: 14px;
  }

  &-catalogue {
    width: 18px;
    height: 20px;
    margin-left: 20px;
    @include transition();

    &:hover {
      fill: $color6;
      @include transition();
    }
  }

  &-delivery {
    width: 76px;
    height: 51px;
  }

  &-approach {
    width: 66px;
    height: 65px;
  }

  &-price {
    width: 69px;
    height: 68px;
  }

  &-checkbox {
    width: 21px;
    height: 21px;
  }

  &-minus {
    width: 12px;
    height: 4px;
  }

  &-plus {
    width: 13px;
    height: 12px;
  }

  &-cart {
    width: 21px;
    height: 23px;

    @media (max-width: 768px) {
      width: 17px;
      height: 18px;
    }
  }

  &.icon-arrow {
    width: 11px;
    height: 9px;
  }

  &.icon-arrow--cart {
    width: 10px;
    height: 9px;
  }

  &.icon-product {
    width: 385px;
    height: 385px;
  }

  &.icon-arrow--carousel {
    width: 16px;
    height: 14px;
  }

  &.icon-arrow--sort {
    margin-left: 10px;
    width: 11px;
    height: 7px;
  }

  &.icon-arrow--pagination {
    width: 16px;
    height: 14px;
  }

  &.icon-refresh {
    width: 23px;
    height: 23px;
  }

  &.icon-request {
    width: 21px;
    height: 21px;

    @include screen-tb() {
      width: 28px;
      height: 28px;
    }
  }

  &.icon-close--big {
    width: 15px;
    height: 15px;

    @include screen-tb() {
      width: 21px;
      height: 21px;
    }
  }

  &.icon-close--small {
    width: 15px;
    height: 15px;
  }

  &.icon-close--popup {
    width: 13px;
    height: 13px;

    @include screen-tb() {
      width: 20px;
      height: 20px;
    }
  }
}