@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.steps {
  &_section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  
  &_wrapper {
    max-width: 700px;
    width: 100%;
    padding: 50px 0 125px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @include screen-tb {
      padding: 100px 0 175px;
    }
  
    @include screen-l {
      padding: 150px 0 225px;
    }
  }
  
  &_title {
    margin-bottom: 35px;

    @include screen-l {
      font-size: 36px;
    }
  }
  
  &_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include screen-l {
      flex-direction: row;
    }
  }

  &_controllers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  
    @include screen-tb {
      flex-direction: row;
    }
  
    &.extended {
      .steps_btn {
        width: 100%;
      }
    }
  }
  
  &_btn {
    width: 100%;
    min-height: 49px;
    padding: 16px 62px;
    border-radius: 4px;
    font-size: 18px;
  
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  
    @include screen-tb {
      width: 275px;
  
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}