/* Mixins */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;

700;900&display=swap");


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.body.isMobile {
  overflow: hidden;
}

.header {
  padding: 20px 0px;
  background: #373f48;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  margin: 0px 5px 0px 0px;
}

.header .isDesktop {
  display: none !important;
}

.header .isMobile {
  display: block !important;
}

.header-navigation {
  display: none;
  visibility: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px 0px 0px;
}

.header-navigation__link {
  margin: 0px 30px 0px 0px;
  font-weight: 600;
  color: #ffffff;
}

.header-navigation__link:last-child {
  margin: 0px;
}

.header-navigation.isMobile {
  display: block;
  visibility: visible;
  position: fixed;
  top: 70px;
  z-index: 20;
}

.header-navigation.isMobile > .header-navigation__link {
  margin: 0px;
  color: #ff8e01;
}

.header-navigation.isMobile > .header-navigation__link:last-child {
  display: none;
  visibility: hidden;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 0px;
}

.header-info__link {
  margin: 0px 40px 0px 0px;
  font-weight: 700;
  color: #ffffff;
}

.header-info__link:first-child {
  display: none;
  visibility: hidden;
}

.header-info__link:last-child {
  margin: 0px;
}

.header-info__phone {
  display: none;
  visibility: hidden;
}

.header-info__location {
  display: none;
  visibility: hidden;
}

.header-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-action__cart {
  position: relative;
  margin: 0px 30px -25px 0px;
  padding: 0px 0px 25px;
  color: #ffffff;
}

.header-action__cart:hover .cart-dropdown {
  display: block;
  visibility: visible;
}

.header-action__lang {
  position: relative;
  margin: 0px 0px -20px;
  padding: 0px 0px 20px;
}

.header-action__text {
  font-size: 16px;
  color: #ffffff;
}

.header-action__icon {
  margin: 0px 12px 0px 0px;
}

.header-hamburger {
  display: block;
  visibility: visible;
  position: relative;
  width: 27px;
  height: 18px;
  background: #373f48;
  margin: 0px 10px 0px 0px;
  z-index: 25;
  cursor: pointer;
}

.header-hamburger.isMobile {
  display: block;
  visibility: visible;
}

.header-hamburger__btn {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: #ff8e01;
  border-radius: 2px;
}

.header-hamburger::after,
.header-hamburger::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background: #ff8e01;
  border-radius: 2px;
}

.header-hamburger::after {
  bottom: 0;
}

.header-hamburger::before {
  top: 0;
}

.header-hamburger.isMobile .header-hamburger__btn {
  opacity: 0;
}

.header-hamburger.isMobile::before {
  height: 3px;
  background: #999999;
  -webkit-transform: rotate(-45deg) translate(-8px, 2px);
      -ms-transform: rotate(-45deg) translate(-8px, 2px);
          transform: rotate(-45deg) translate(-8px, 2px);
}

.header-hamburger.isMobile::after {
  height: 3px;
  background: #999999;
  -webkit-transform: rotate(45deg) translate(-8px, -3px);
      -ms-transform: rotate(45deg) translate(-8px, -3px);
          transform: rotate(45deg) translate(-8px, -3px);
}

.header-menu {
  position: fixed;
  top: 0;
  left: -220px;
  bottom: 0;
  width: 220px;
  background: #373f48;
  padding: 15px;
  z-index: 20;
  -webkit-transition: right 0.25s linear;
  -o-transition: right 0.25s linear;
  transition: right 0.25s linear;
}

.header-menu.isMobile {
  left: 0;
}

.header-menu.isMobile > .header-menu__background::after {
  left: 220px;
}

.header-menu__background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background: rgba(55, 63, 72, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: right 0.25s linear;
  -o-transition: right 0.25s linear;
  transition: right 0.25s linear;
}

.header-menu__aside {
  display: none;
  visibility: hidden;
  width: 200px;
  position: fixed;
  top: 110px;
  margin: 0px;
  z-index: 20;
}

.header-menu__aside.isMobile {
  display: block;
  visibility: visible;
}

.header-menu__aside > .aside-navigation__list {
  margin: 25px 0px 0px;
}

.header-menu__aside > .aside-navigation__list > .aside-navigation__link {
  margin: 25px 0px 0px;
}

.header-menu__aside > .aside-navigation__list > .aside-navigation__link:first-child {
  margin: 0px;
}

.header-menu__aside > .aside-navigation__download {
  margin: 30px 0px 0px;
}

.footer {
  padding: 55px 0px;
  background: #373f48;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0px 0px 40px;
}

.footer-block:last-child {
  margin-bottom: 0;
}

.footer-item {
  margin: 0px 20px 0px 0px;
}

.footer-item__title {
  display: none;
  visibility: hidden;
  font-size: 16px;
  line-height: 22px;
  color: #ff8e01;
}

.footer-item__text {
  margin: 0px;
  line-height: 22px;
  color: #ffffff;
}

.presentation {
  background: #373f48;
  padding: 40px 0px 60px;
}

.presentation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-aside-navigation {
  display: none;
  visibility: hidden;
}

.presentation-carousel {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-carousel-header {
  width: 100%;
  margin: 0px 0px 55px;
  text-align: center;
}

.presentation-carousel-header__title {
  width: 100%;
  margin: 0px 0px 21px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.presentation-carousel-header__descr {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #ff8e01;
}

.presentation-carousel__navigation {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 55px 0px 0px;
}

.presentation-carousel__navigation::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #ff8e01;
  margin: 25px 0px 0px;
}

.presentation-carousel__dot {
  margin: 0px 28px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.25;
}

.presentation-carousel__dot:last-child {
  margin: 0px;
}

.presentation-carousel__dot.isActive {
  opacity: 1;
}

.presentation-carousel__item {
  width: 260px;
  height: 200px;
}

.presentation-carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular {
  padding: 50px 0px 90px;
}

.popular-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-aside-navigation {
  display: none;
  visibility: hidden;
}

.popular-carousel {
  width: 100%;
}

.popular-carousel-block {
  margin: 40px 0px 0px;
}

.advantages {
  background: #f2f0f0;
  padding: 62px 0px 70px;
}

.advantages-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.advantages__item {
  margin: 0px 0px 60px;
}

.advantages__item:last-child {
  margin: 0px;
}

.advantages__title {
  font-size: 16px;
  font-weight: 700;
  color: #373f48;
}

.advantages__image {
  height: 70px;
  margin: 50px auto 0px;
}

.contact-us {
  position: relative;
  overflow: hidden;
}

.contact-us-inner {
  padding: 42px 0px 136px;
  text-align: center;
}

.contact-us__title {
  margin: 0px 0px 40px;
  font-size: 24px;
  font-weight: 900;
  color: #373f48;
}

.contact-us-form {
  max-width: 486px;
  width: 100%;
  margin: 0px auto;
}

.contact-us-field {
  margin: 0px 0px 48px;
}

.contact-us-field:last-of-type {
  margin: 0px 0px 18px;
}

.contact-us__required {
  margin: 0px 0px 30px;
  text-align: left;
}

.contact-us__input {
  width: 100%;
  padding: 15px 25px;
}

.contact-us__input:focus + label {
  visibility: hidden;
}

.contact-us__label {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-us__label::after {
  content: " *";
  font-size: 18px;
  color: #ff8e01;
}

.contact-us__label--textarea {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 18px;
  color: #999999;
}

.contact-us__textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px 25px;
}

.contact-us__textarea:focus + label {
  visibility: hidden;
}

.contact-us__btn {
  min-height: 49px;
  padding: 16px 62px;
}

.contact-us__btn:hover {
  background: #ffffff;
  color: #373f48;
}

.about-us-inner {
  max-width: 1090px;
  width: 100%;
  margin: 0px auto;
  padding: 30px 20px 175px;
}

.about-us__background {
  width: 100%;
  height: 95px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 63, 72, 0.71)), to(rgba(55, 63, 72, 0))), url(/images/background-top.png);
  background: -o-linear-gradient(top, rgba(55, 63, 72, 0.71) 0%, rgba(55, 63, 72, 0) 100%), url(/images/background-top.png);
  background: linear-gradient(180deg, rgba(55, 63, 72, 0.71) 0%, rgba(55, 63, 72, 0) 100%), url(/images/background-top.png);
}

.about-us__block:first-child {
  position: relative;
}

.about-us-download {
  position: absolute;
  top: -15%;
  right: 0;
}

.about-us__title {
  margin: 0px 0px 45px;
  font-size: 24px;
  font-weight: 900;
  color: #ff8e01;
  text-align: center;
}

.about-us__text {
  margin: 0px 0px 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #373f48;
}

.about-us__catalogue {
  display: block;
  max-width: 165px;
  width: 100%;
  margin: 0px auto 45px;
  padding: 10px 20px;
  border: 2px solid #373f48;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 900;
  color: #373f48;
  text-align: center;
}

.about-us__highlight {
  font-weight: 900;
}

.about-us__highlight.highlight-top::after,
.about-us__highlight.highlight-top::before {
  content: '"';
  color: #ff8e01;
}

.about-us__highlight.highlight-bottom::after {
  content: ":";
  color: #ff8e01;
}

.about-us__list {
  counter-reset: counter-list;
  font-size: 16px;
  font-weight: 400;
  color: #373f48;
  list-style: none;
}

.about-us__item {
  counter-increment: counter-list;
  margin: 0px 0px 20px;
}

.about-us__item:last-child {
  margin: 0px;
}

.about-us__item::before {
  content: counter(counter-list) ".";
  margin: 0px 10px 0px 0px;
  font-size: 20px;
  font-weight: 900;
  color: #ff8e01;
}

.about-us__link {
  display: inline-block;
  margin: 45px 0px 0px;
  padding: 16px 32px;
}

.about-us__link:hover {
  background: #ffffff;
  color: #373f48;
}

.catalogue-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0px;
}

.catalogue-aside {
  display: none;
  visibility: hidden;
}

.catalogue-aside-navigation {
  margin: 0px 0px 76px;
}

.catalogue .aside-popular__header {
  margin: 0px 0px 25px;
  font-weight: 700;
}

.catalogue .aside-popular__item {
  margin: 0px 0px 20px;
}

.catalogue .aside-popular__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogue .aside-popular-image-wrapper {
  position: relative;
  max-width: 85px;
  width: 100%;
  padding-top: 26%;
  border: 1px solid #999999;
}

.catalogue .aside-popular__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalogue .aside-popular__description {
  margin: 0px 0px 0px 10px;
}

.catalogue .aside-popular__title {
  margin: 0px 0px 5px;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #373f48;
}

.catalogue .aside-popular__title:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #ff8e01;
}

.catalogue .aside-popular__type {
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #999999;
}

.catalogue .aside-popular__type:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #ffc174;
}

.catalogue-wrapper {
  width: 100%;
}

.catalogue-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 40px;
}

.catalogue__title {
  margin: 0px 0px 30px;
  font-size: 20px;
  font-weight: 700;
  color: #373f48;
}

.catalogue-sort__block {
  display: block;
}

.catalogue-sort__title {
  display: inline-block;
  margin: 0px 0px 15px;
  font-weight: 700;
  color: #373f48;
}

.catalogue-sort__size {
  margin: 0px 15px 0px 0px;
  padding: 0px 15px 0px 0px;
  border-right: 1px solid #ff8e01;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #999999;
}

.catalogue-sort__size:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #ffc174;
}

.catalogue-sort__size .isActive {
  color: #ff8e01;
}

.catalogue-sort__price {
  color: #999999;
}

.catalogue-sort__price:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #ffc174;
}

.catalogue-sort__price .isActive {
  color: #ff8e01;
}

.catalogue-sort__icon.isActive {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.catalogue-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 20px;
}

.catalogue-pagination-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogue-pagination__btn {
  max-width: 445px;
  min-width: 290px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto 35px;
  border: 1px solid #373f48;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 16px;
  font-weight: 900;
  color: #373f48;
}

.catalogue-pagination__btn:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.catalogue-pagination__link {
  margin: 0px 15px;
  font-size: 18px;
  font-weight: 900;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #373f48;
}

.catalogue-pagination__link:hover {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #ffc174;
}

.catalogue-pagination__link.isActive {
  color: #ff8e01;
}

.catalogue-pagination__step {
  min-width: 50px;
  padding: 10px 16px;
  background: #373f48;
  border-radius: 4px;
}

.catalogue-pagination .pagination-icon__refresh {
  margin: 0px 15px 0px 0px;
}

.catalogue-pagination .pagination-icon__left {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.catalogue-pagination .pagination-icon__left.isActive {
  fill-opacity: 0.5;
}

.catalogue-pagination .pagination-icon__right.isActive {
  fill-opacity: 0.5;
}

.product-inner {
  padding: 30px 0px 100px;
}

.product-back {
  display: inline-block;
  margin: 0px 0px 35px;
  color: #373f48;
}

.product-back__icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.product-breadcrumbs {
  display: none;
  visibility: hidden;
}

.product-breadcrumbs__item {
  font-size: 16px;
  color: #373f48;
}

.product-breadcrumbs__link {
  font-size: 16px;
  color: #999999;
}

.product-breadcrumbs__link::after {
  content: "/";
  padding: 0px 15px;
}

.product__status {
  position: absolute;
  top: -52px;
  right: 0;
  margin: 0px 0px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #5ab87f;
}

.product-block {
  position: relative;
  max-width: 1290px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-gallery__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: start;
  margin: 0px 15px 0px 0px;
}

.product-gallery__small .isActive {
  border: 1px solid #999999;
}

.product-gallery__small img {
  width: 55px;
  margin: 0px 0px 15px;
}

.product-gallery__small img:last-child {
  margin: 0px;
}

.product-gallery__large {
  position: relative;
  max-width: 537px;
  width: 100%;
  height: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 56.25%;
  border: 1px solid #999999;
}

.product-gallery__large img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-trade {
  position: relative;
  width: 100%;
  margin: 30px 0px 0px;
  background: #ffecd4;
}

.product-trade-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
}

.product-trade__title {
  margin: 0px 0px 20px;
  font-size: 22px;
  font-weight: 900;
  color: #373f48;
}

.product-trade__price {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: 900;
  color: #373f48;
}

.product-trade__price sup {
  font-size: 16px;
}

.product-trade__size {
  position: absolute;
  left: 100%;
  margin: 0px 0px 0px 10px;
  font-size: 18px;
  font-weight: 900;
}

.product-trade__btn {
  max-width: 223px;
  display: block;
  padding: 15px 40px;
  border-radius: 4px;
  background: #5ab87f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
}

.product-trade__btn .icon-cart {
  margin-right: 15px;
}

.product-calc {
  position: relative;
  max-width: 175px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 24px;
}

.product-calc__remove {
  padding: 11px 13px;
}

.product-calc__add {
  padding: 11px 13px;
}

.product-calc__count {
  max-width: 75px;
  font-size: 18px;
  padding: 10px 0px;
}

.product-table {
  max-width: 1184px;
  width: 100%;
  margin: 126px auto;
  overflow-x: scroll;
}

.product-table__header {
  margin: 0px 0px 25px;
  font-size: 24px;
  font-weight: 900;
}

.product-table__block {
  width: 100%;
  background: #ffffff;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-shadow: 0px 0px 10px rgba(55, 63, 72, 0.1);
          box-shadow: 0px 0px 10px rgba(55, 63, 72, 0.1);
  font-size: 16px;
  text-align: center;
}

.product-table__title {
  background: #f2f0f0;
  border-bottom: 2px solid #ff8e01;
}

.product-table__title th {
  width: 140px;
  padding: 18px 0px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
}

.product-table__title th span {
  font-weight: 400;
}

.product-table__body tr:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}

.product-table__body td {
  width: 140px;
  padding: 18px 0px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
}

.product .product-carousel {
  max-width: 1184px;
  width: 100%;
  margin: 0px auto;
}

.product .product-carousel-block {
  margin: 40px 0px 0px;
}

.product .product-carousel__arrow--left {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
  fill-opacity: 0.5;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 27px;
  background: rgba(55, 63, 72, 0.76);
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart.isActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-block {
  position: relative;
  width: 100%;
  max-width: 862px;
  border-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  margin: 0px 0px 30px;
  background: #f2f0f0;
  border-radius: 4px 4px 0px 0px;
}

.cart-header__title {
  font-size: 20px;
  font-weight: 900;
  color: #373f48;
}

.cart-header__close {
  background: #f2f0f0;
}

.cart-description {
  display: none;
  visibility: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5px;
}

.cart-description__item {
  padding: 0px 30px;
  color: #999999;
}

.cart-description__item:last-child {
  padding-right: 40px;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 30px;
}

.cart-item:first-child {
  padding: 0px 30px 22px;
}

.cart-item:nth-child(2n + 0) {
  background: #f2f0f0;
}

.cart-item__close {
  background: transparent;
}

.cart-item__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-item__image {
  position: relative;
  max-width: 132px;
  width: 100%;
  padding-top: 11%;
  background: #ffffff;
  border: 1px solid #999999;
}

.cart-item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

.cart-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item__link--title {
  font-size: 16px;
  color: #373f48;
}

.cart-item__link--type {
  font-size: 14px;
  color: #999999;
  margin-bottom: 5px;
}

.cart-item__price {
  min-width: 85px;
  text-align: center;
  font-size: 16px;
  color: #373f48;
}

.cart-item__sum {
  min-width: 85px;
  padding: 5px 0px;
  background: #ffecd4;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  color: #373f48;
}

.cart-calc {
  position: relative;
  max-width: 115px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-calc__remove {
  padding: 7px 10px;
}

.cart-calc__count {
  max-width: 55px;
  padding: 6px 0px;
}

.cart-calc__add {
  padding: 7px 10px;
}

.cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px 0px;
}

.cart-back__title {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
}

.cart-back__btn {
  min-width: 33px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #ff8e01;
}

.cart-trade {
  text-align: center;
}

.cart-trade__total {
  margin-bottom: 15px;
}

.cart-trade__total__text {
  margin-right: 8px;
  font-size: 16px;
  color: #373f48;
}

.cart-trade__total__sum {
  font-size: 16px;
  font-weight: 600;
  color: #373f48;
}

.cart-trade__btn {
  min-width: 143px;
  padding: 8px 28px;
  border-radius: 4px;
  background: #ff8e01;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
}

.order-page {
  padding: 60px 0px 100px;
}

.order-page-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-page-send {
  max-width: 485px;
  width: 100%;
  text-align: center;
}

.order-page-send__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #373f48;
}

.order-page-send__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 28px;
  color: #373f48;
}

.order-page-field {
  position: relative;
  margin-bottom: 48px;
}

.order-page-field:last-of-type {
  margin-bottom: 18px;
}

.order-page__input {
  width: 100%;
  padding: 15px 25px;
}

.order-page__input:focus + label {
  visibility: hidden;
}

.order-page__label {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.order-page__label::after {
  content: " *";
  font-size: 18px;
  color: #ff8e01;
}

.order-page__label--textarea {
  position: absolute;
  top: 15px;
  left: 25px;
  color: #999999;
  font-size: 18px;
}

.order-page__textarea {
  width: 100%;
  min-height: 150px;
  padding: 15px 25px;
}

.order-page__textarea:focus + label {
  visibility: hidden;
}

.order-page__required {
  margin-bottom: 30px;
  text-align: left;
  font-size: 18px;
  color: #999999;
}

.order-page__required::before {
  content: "* ";
  font-size: 18px;
  color: #ff8e01;
}

.order-page__btn {
  min-height: 59px;
  padding: 16px 62px;
  background: #ff8e01;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

.order-page__btn:hover {
  background: #ffffff;
  color: #373f48;
  border: 2px solid #ff8e01;
}

.order-page-trade {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 555px;
  width: 100%;
}

.order-page-edit {
  margin-bottom: 45px;
}

.order-page-edit__text {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #373f48;
}

.order-page-edit__btn {
  min-width: 33px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #ff8e01;
}

.order-page-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.order-page-total__title {
  padding: 10px 20px;
  background: #ffecd4;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #373f48;
}

.order-page-sum__text {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #373f48;
}

.order-page-sum__price {
  font-size: 16px;
  font-weight: 600;
  color: #ff8e01;
}

.order-page-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 22px;
  color: #373f48;
}

.order-page-list__item:last-child {
  margin-bottom: 0;
}

.order-page-list__image {
  max-width: 40px;
  width: 100%;
}

.order-page-list__title {
  max-width: 240px;
  width: 100%;
  text-align: left;
}

.order-page-list__size {
  max-width: 80px;
  width: 100%;
  text-align: center;
}

.order-page-list__price {
  max-width: 110px;
  width: 100%;
  text-align: left;
}

.location {
  position: relative;
}

.location-wrapper {
  background: #373f48;
}

.location-info {
  max-width: 1290px;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px;
  margin: 0px auto 40px;
}

.location-info__block {
  max-width: 220px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 40px;
}

.location-info__block:last-child {
  margin-bottom: 0;
}

.location-info__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 20px 0px 0px;
  font-size: 16px;
  line-height: 21px;
  color: #ff8e01;
}

.location-info__title {
  display: none;
  visibility: hidden;
}

.location-info__text {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.location-map {
  max-width: 1290px;
  width: 100%;
  position: relative;
  padding: 0px 20px;
  margin: 0px auto;
}

.location-map__title {
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  color: #ff8e01;
}

.location-map__item {
  width: 100%;
  margin-bottom: 82px;
  -webkit-box-shadow: 0px 4px 20px rgba(55, 63, 72, 0.2);
          box-shadow: 0px 4px 20px rgba(55, 63, 72, 0.2);
  overflow: hidden;
}

.cart-dropdown {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: -125px;
  width: 255px;
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px rgba(55, 63, 72, 0.05);
          box-shadow: 0px 4px 10px rgba(55, 63, 72, 0.05);
  text-align: center;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 20;
}

.cart-dropdown::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 125px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #ff8e01;
}

.cart-dropdown__title {
  margin-bottom: 16px;
  color: #373f48;
}

.cart-dropdown__price {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 900;
  color: #373f48;
}

.cart-dropdown__btn {
  max-width: 140px;
  width: 100%;
  margin: 0px auto 20px;
  padding: 8px 30px;
  background: #ff8e01;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.cart-dropdown__link {
  color: #373f48;
}

.aside-navigation {
  font-weight: 700;
}

.aside-navigation__header {
  color: #ff8e01;
}

.aside-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px;
}

.aside-navigation__list.list-dark .aside-navigation__link {
  color: #373f48;
}

.aside-navigation__link {
  margin-top: 35px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.aside-navigation__link:first-child {
  margin-top: 0;
}

.aside-navigation__download {
  display: inline-block;
  margin-top: 55px;
  font-size: 14px;
  color: #ff8e01;
}

.carousel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel__title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.carousel__navigation {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 35px 0px 0px;
}

.carousel__step {
  min-width: 50px;
  display: inline-block;
  margin: 0px 30px 0px 0px;
  padding: 10px 15px;
  border-radius: 4px;
  background: #ff8e01;
}

.carousel__step:last-child {
  margin-right: 0;
}

.carousel__arrow--left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.carousel-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .input-field {
  position: relative;
}

.form .input-field .input {
  border: 1px solid #373f48;
  font-size: 18px;
  color: #373f48;
}

.form .input-field .label {
  color: #999999;
  font-size: 18px;
}

.form .input-field .textarea {
  border: 1px solid #373f48;
  font-size: 18px;
  color: #373f48;
  resize: none;
}

.form .required {
  font-size: 16px;
  color: #999999;
}

.form .required::before {
  content: "* ";
  font-size: 18px;
  color: #ff8e01;
}

.btn-sent {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
}

.btn-orange {
  border: 2px solid #ff8e01;
  background: #ff8e01;
}

.product-item {
  min-width: 290px;
  width: calc(33.333% - 40px);
  margin: 0px 20px 40px;
  padding: 27px 0px 30px;
  border: 1px solid #373f48;
}

.product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  margin: 0px 0px 15px;
  font-size: 18px;
  font-weight: 700;
  color: #373f48;
}

.product-image-wrapper {
  position: relative;
  width: 50%;
  height: 120px;
  margin: 0px 0px 20px;
}

.product__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__size {
  margin: 0px 0px 10px;
  padding: 0px 65px 10px;
  border-bottom: 1px solid #ff8e01;
  font-size: 18px;
  font-weight: 400;
  color: #373f48;
}

.product__price {
  margin: 0px 0px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #373f48;
}

.product-order {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ff8e01;
  border-bottom: 1px solid #ff8e01;
}

.product__btn--remove {
  padding: 7px 16px 7px 27px;
  background: #ffffff;
  border-right: 1px solid #ff8e01;
}

.product__count {
  max-width: 89px;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.product__count::-webkit-inner-spin-button,
.product__count::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product__btn--add {
  padding: 7px 0px 7px 20px;
  background: #ffffff;
  border-left: 1px solid #ff8e01;
}

.product__cart {
  position: absolute;
  left: 70%;
  padding: 10px 15px;
  background: #ff8e01;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 5px rgba(55, 63, 72, 0.2);
          box-shadow: 0px 2px 5px rgba(55, 63, 72, 0.2);
}

.calc {
  border: 1px solid #373f48;
  background: #ffffff;
}

.calc__remove {
  border-right: 1px solid #373f48;
  background: transparent;
}

.calc__count {
  background: transparent;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.calc__count::-webkit-inner-spin-button,
.calc__count::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc__add {
  border-left: 1px solid #373f48;
  background: transparent;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon.icon-logo {
  width: 78px;
  height: 32px;
}

.icon.icon-logo--mobile {
  width: 25px;
  height: 25px;
}

.icon.icon-phone {
  margin-right: 12px;
  width: 19px;
  height: 19px;
}

.icon.icon-location {
  margin-right: 12px;
  width: 15px;
  height: 20px;
}

.icon.icon-location--header {
  margin-right: 12px;
  width: 18px;
  height: 23px;
}

.icon.icon-location--map {
  margin-right: 12px;
  width: 18px;
  height: 23px;
}

.icon.icon-clock {
  margin-right: 12px;
  width: 22px;
  height: 21px;
}

.icon.icon-cart {
  width: 21px;
  height: 23px;
}

.icon.icon-lang {
  width: 23px;
  height: 23px;
}

.icon.icon-arrow {
  width: 11px;
  height: 9px;
}

.icon.icon-arrow--cart {
  width: 10px;
  height: 9px;
}

.icon.icon-arrow--more {
  width: 51px;
  height: 14px;
}

.icon.icon-download {
  margin-left: 7px;
  width: 18px;
  height: 20px;
}

.icon.icon-product {
  width: 385px;
  height: 385px;
}

.icon.icon-arrow--carousel {
  width: 16px;
  height: 14px;
}

.icon.icon-arrow--sort {
  margin-left: 10px;
  width: 11px;
  height: 7px;
}

.icon.icon-arrow--pagination {
  width: 16px;
  height: 14px;
}

.icon.icon-advntg--delivery {
  width: 76px;
  height: 51px;
}

.icon.icon-advntg--individual {
  width: 66px;
  height: 65px;
}

.icon.icon-advntg--price {
  width: 69px;
  height: 68px;
}

.icon.icon-minus {
  width: 12px;
  height: 4px;
}

.icon.icon-plus {
  width: 13px;
  height: 12px;
}

.icon.icon-refresh {
  width: 23px;
  height: 23px;
}

.icon.icon-close--big {
  width: 21px;
  height: 21px;
}

.icon.icon-close--small {
  width: 15px;
  height: 15px;
}

@media only screen and (min-width: 640px) {
  .catalogue-sort__block {
    display: inline-block;
    vertical-align: middle;
  }

  .catalogue-sort__title {
    margin: 0px 15px 0px 0px;
  }

  .product-gallery__small img {
    width: 65px;
    margin: 0px 0px 20px;
  }

  .product-gallery__large {
    padding-top: 50%;
  }

  .product-table {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .header-info__link:first-child {
    display: block;
    visibility: visible;
    margin: 0px 120px 0px 0px;
  }

  .header-info__phone {
    display: inline-block;
    visibility: visible;
  }

  .header-action__text {
    font-size: 18px;
  }

  .footer {
    padding: 50px 0px;
  }

  .footer-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0px;
  }

  .footer-item {
    margin: 0px;
  }

  .footer-item__title {
    display: inline-block;
    visibility: visible;
  }

  .footer-item__text {
    margin: 12px 0px 0px;
  }

  .presentation {
    padding: 40px 0px 67px;
  }

  .presentation-aside-navigation {
    display: block;
    visibility: visible;
    width: 40%;
    margin-right: 15px;
  }

  .presentation-carousel {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
  }

  .presentation-carousel-header {
    text-align: left;
  }

  .presentation-carousel-header__title {
    width: 65%;
    font-size: 30px;
  }

  .presentation-carousel-header__descr {
    font-size: 20px;
  }

  .presentation-carousel__navigation {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 90px 0px 0px;
  }

  .presentation-carousel__item {
    width: 325px;
    height: 255px;
  }

  .advantages-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .advantages__item {
    margin: 0px;
  }

  .contact-us {
    background: url(/images/background-left.svg) top -1px left -5px no-repeat, url(/images/background-right.svg) bottom -18px right -4px no-repeat;
  }

  .contact-us__title {
    font-size: 30px;
  }

  .about-us {
    background: url(/images/background-right.svg) bottom -18px right -4px no-repeat;
  }

  .about-us__title {
    font-size: 28px;
  }

  .about-us__text {
    font-size: 18px;
  }

  .catalogue-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalogue__title {
    margin: 0px;
  }

  .catalogue-pagination__link {
    margin: 0px 20px;
  }

  .product-back {
    display: none;
    visibility: hidden;
  }

  .product-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    margin: 0px 0px 46px;
  }

  .product__status {
    top: -30px;
  }

  .product-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .product-gallery {
    width: 50%;
    margin: 0px 15px 0px 0px;
  }

  .product-gallery__large {
    padding-top: 66.66%;
  }

  .product-trade {
    width: 50%;
    height: 0;
    -ms-flex-item-align: start;
        align-self: start;
    padding-top: 33.33%;
    margin: 0px;
  }

  .product-trade-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .product-table__title th {
    width: 100%;
    font-size: 16px;
  }

  .product-table__body td {
    width: 100%;
    font-size: 16px;
  }

  .location-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 80px 20px;
  }

  .location-info__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
  }

  .location-info__item {
    margin: 0px 0px 10px 0px;
  }

  .location-info__title {
    display: inline-block;
    visibility: visible;
  }

  .location-map {
    margin-bottom: 265px;
  }

  .carousel-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .carousel__title {
    text-align: left;
  }

  .carousel__navigation {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0px;
  }

  .btn-sent {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .header-logo {
    margin: 0px 35px 0px 0px;
  }

  .header .isDesktop {
    display: block !important;
  }

  .header .isMobile {
    display: none !important;
  }

  .header-navigation {
    display: block;
    visibility: visible;
  }

  .header-info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .header-info__link {
    margin: 0px 90px 0px 0px;
  }

  .header-hamburger {
    display: none;
    visibility: hidden;
  }

  .footer {
    padding: 80px 0px 70px;
  }

  .footer-block:first-child {
    width: 320px;
  }

  .presentation {
    padding: 120px 0px 185px;
  }

  .presentation-aside-navigation {
    width: 25%;
  }

  .presentation-carousel {
    width: 75%;
  }

  .presentation-carousel-header {
    width: 55%;
    margin: 0px 0px 115px;
  }

  .presentation-carousel-header__descr {
    font-size: 24px;
  }

  .presentation-carousel__dot {
    font-size: 24px;
  }

  .presentation-carousel__block {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .presentation-carousel__item {
    width: 400px;
    height: 300px;
  }

  .popular-carousel {
    width: 80%;
  }

  .popular-carousel-block {
    margin: 40px -20px 0px;
  }

  .advantages__title {
    font-size: 18px;
  }

  .contact-us__title {
    font-size: 36px;
  }

  .about-us__title {
    font-size: 32px;
  }

  .about-us__text {
    font-size: 22px;
  }

  .about-us__list {
    font-size: 22px;
  }

  .about-us__item::before {
    font-size: 24px;
  }

  .catalogue-aside {
    display: block;
    visibility: visible;
    width: 17%;
  }

  .catalogue-wrapper {
    width: 80%;
  }

  .catalogue__title {
    font-size: 32px;
  }

  .catalogue-block {
    margin: 20px -20px 20px;
  }

  .product-gallery {
    width: 60%;
    margin: 0px 50px 0px 0px;
  }

  .product-gallery__small {
    margin: 0px 60px 0px 0px;
  }

  .product-gallery__small img {
    max-width: 125px;
    width: 100%;
  }

  .product-gallery__large {
    padding-top: 51.55%;
  }

  .product-trade {
    width: 40%;
    padding-top: 30%;
  }

  .product-trade__title {
    font-size: 30px;
  }

  .product-trade__price {
    font-size: 36px;
  }

  .product-trade__price sup {
    font-size: 24px;
  }

  .product-trade__size {
    margin: 0px 0px 0px 15px;
    font-size: 24px;
  }

  .product-trade__btn {
    font-size: 20px;
  }

  .product .product-carousel-block {
    margin: 40px -20px 0px;
  }

  .cart-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
  }

  .order-page-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .order-page-total {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .location-info {
    padding: 80px 20px 220px;
  }

  .location-info__block:first-child {
    max-width: 360px;
    width: 100%;
  }

  .location-info__item {
    font-size: 18px;
  }

  .location-info__text {
    font-size: 18px;
  }

  .location-map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .location-map__title {
    font-size: 22px;
  }

  .form .required {
    font-size: 18px;
  }

  .btn-sent {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-info__location {
    display: inline-block;
    visibility: visible;
  }

  .presentation-carousel-header__title {
    font-size: 48px;
  }

  .presentation-carousel__item {
    width: 450px;
    height: 360px;
  }

  .popular-aside-navigation {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 1024px) {
  .about-us-download {
    top: -25%;
  }

  .form .input-field .label {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .header-action__icon {
    margin: 0px 6px 0px 0px;
  }

  .icon.icon-location--header {
    width: 14px;
    height: 18px;
  }

  .icon.icon-cart {
    width: 17px;
    height: 18px;
  }

  .icon.icon-lang {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 767px) {
  .about-us-download {
    position: relative;
    margin: 0px auto;
  }
}