@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 900;
  color: $color1;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 28px;
  color: $color1;

  @include screen-tb() {
    font-size: 18px;
  }
}

.form {
  max-width: 486px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 250px;
  min-height: 49px;
  padding: 16px 62px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 30px rgba(55, 63, 72, 0.22);

  &:hover {
    background: #ffffff;
    color: $color1;
  }
}

.required {
  margin-bottom: 30px;
  font-size: 16px;
  text-align: left;
  color: #999999;

  &::before {
    content: "* ";
    font-size: 18px;
    color: $color2;
  }

  @media (min-width: 1440) {
    font-size: 18px;
  }
}