@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-tb() {
    flex-direction: row;
    margin-bottom: 50px;
  }
}

.title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;

  @include screen-tb() {
    text-align: left;
  }
}

.controls {
  position: absolute;
  top: -70px;
  right: 0;
  align-self: center;
  margin: 35px 0px 0px;

  @include screen-tb() {
    align-self: flex-end;
    margin: 0px;
  }
}

.step {
  position: relative;
  width: 50px;
  height: 40px;
  margin-right: 30px;
  //padding: 10px 15px;
  border-radius: 4px;
  background: $color2;
  @include transition();

  svg {
    width: 25px;
    height: 35px;

    path {
      fill: #ffffff;
    }
  }

  &:first-child {
    path {
      //transform: rotateY(180deg);
    }

    &:hover {
      transform: translate(-5px, -5px);
      @include transition();
    }
  }

  &:last-child {
    margin-right: 0;

    &:hover {
      transform: translate(5px, -5px);
      @include transition();
    }
  }
}
