@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.light {
  .link {
    color: #ffffff;
  }

  .icon {
    path {
      fill: #ffffff;
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.362;
  color: $color2;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 36.5px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.link {
  transition: all 0.3s ease-out;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: $color1;

  &:hover {
    transition: all 0.3s ease-out;
    color: $color2;
  }
}

.download {
  display: inline-block;
  margin-top: 55px;
  font-size: 14px;
  color: $color2;
}

.icon {
  margin-left: 7px;
}

.action {
  margin-left: 140px;
}

.edit {
  margin-right: 35px;
  font-size: 14px;
  font-weight: 700;
  color: $color1;
}

.delete {
  font-size: 14px;
  font-weight: 700;
  color: $color1;
}