@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: $color1;

  @include screen-tb {
    font-size: 30px;
  }

  @include screen-l {
    font-size: 48px;
  }
}