@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 50px 0 125px;
  margin: 0 auto;

  @include screen-tb {
    padding: 100px 0 175px;
  }

  @include screen-l {
    padding: 150px 0 225px;
  }
}

.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  @include transition;
  font-size: 14px;
  font-weight: 700;
  color: $color1;

  &_icon {
    margin-right: 7px;
  }

  &:hover {
    @include transition;
    color: $color2;
  }

  @include screen-l {
    font-size: 24px;
  }
}

.error {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 100%;
  display: block;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: $color7;

  @include screen-tb {
    bottom: 80px;
  }

  @include screen-l {
    bottom: 160px;
  }
}