@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.authorization {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  @include screen-l {
    padding: 120px 0;
  }
}

.title {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.3;
  color: #373f48;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.form {
  max-width: 620px;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  margin: 0 auto;
}

.close {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 900;
  color: #373f48;
  text-align: right;

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1440px) {
    font-size: 30px;
  }
}

.error {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 900;
  color: #ff6363;
}