@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.login {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &_wrapper {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  
    @include screen-tb {
      padding: 40px 0;
    }
  
    @include screen-l {
      padding: 60px 0;
    }
  }

  &_title {
    margin-bottom: 35px;
    text-align: center;

    @include screen-l {
      font-size: 36px;
    }
  }

  &_button {
    width: 250px;
    min-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 62px;
    margin: 75px auto 0;
    font-size: 16px;
    line-height: 1.35;
        
    @include screen-tb {
      font-size: 18px;
    }

    @include screen-l {
      margin: 65px auto 0;
      font-size: 20px;
    }
  }

  &_close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    @include transition;
    font-size: 14px;
    font-weight: 700;
    color: $color1;
  
    &:hover {
      @include transition;
      color: $color2;
    }
  
    @include screen-l {
      font-size: 24px;
    }
  }

  &_password {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 35px;
    height: 25px;
    transform: translateY(-50%);
    @include transition;

    &:hover {
      cursor: pointer;

      path {
        @include transition;
        fill: $color6;
      }
    }
  }

  &_icon {
    margin-right: 7px;
  }

  &_error {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 100%;
    display: block;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: $color7;
  
    @include screen-tb {
      bottom: 120px;
      font-size: 16px;
    }
  
    @include screen-l {
      bottom: 140px;
      font-size: 18px;
    }
  }
}