@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.hidden {
  overflow: hidden;
}

.header {
  padding: 20px 0;
  background: $color1;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    flex-grow: 0.5;
    margin-right: 5px;

    .logo_desktop {
      display: none;

      @include screen-l() {
        display: block;
      }
    }

    .logo_mobile {
      display: block;

      @include screen-l() {
        display: none;
      }
    }

    @include screen-l() {
      margin-right: 35px;
    }
  }

  &_navigation {
    flex-grow: 1;
    margin-right: 10px;
    @include hidden;

    @include screen-l() {
      display: block;
      visibility: visible;
    }

    .navigation_link {
      margin-right: 30px;
      padding-bottom: 5px;
      font-weight: 600;
      color: #ffffff;
      @include transition;

      &:last-child {
        margin: 0;
      }

      &:hover {
        color: $color6;
        @include transition;
      }

      &.active {
        color: $color6;
        cursor: default;
        
        &:hover {
          color: $color6;
        }
      }
    }

    &.active {
      visibility: visible;
      position: fixed;
      top: 70px;
      display: block;
      z-index: 20;

      .navigation_link {
        margin: 0;
        color: $color2;
        @include hidden;
      }
    }
  }

  &_hamburger {
    visibility: visible;
    position: relative;
    display: block;
    width: 27px;
    height: 18px;
    margin-right: 10px;
    z-index: 10;
    cursor: pointer;

    @include screen-l() {
      @include hidden;
    }

    .hamburger_btn {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $color2;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: $color2;
      @include transition;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }

    &.active {
      z-index: 25;
    }

    &.active .hamburger_btn {
      opacity: 0;
    }

    &.active::before {
      height: 3px;
      transform: rotate(-45deg) translate(-8px, 2px);
      background: $color4;
      @include transition;
    }

    &.active::after {
      height: 3px;
      transform: rotate(45deg) translate(-8px, -3px);
      background: $color4;
      @include transition;
    }
  }

  &_info {
    display: flex;
    flex-grow: 0;
    align-items: center;
    margin-right: 10px;

    @include screen-l() {
      flex-grow: 1;
    }

    .info_link {
      font-weight: 700;
      color: #ffffff;
      @include transition;

      svg path {
        @include transition;
      }

      svg circle {
        @include transition;
      }

      &.active {
        color: $color6;
        cursor: default;
        
        svg path {
          stroke: $color6;
        }
  
        svg circle {
          stroke: $color6;
        }
        
        &:hover {
          color: $color6;
        }
      }

      &:hover {
        color: $color6;
        @include transition;

        svg path {
          @include transition;
          stroke: $color6;
        }

        svg circle {
          @include transition;
          stroke: $color6;
        }
      }
    }

    .info_location {
      @include hidden;

      @include screen-xl {
        display: inline-block;
        visibility: visible;
      }
    }
  }

  &_menu {
    position: fixed;
    top: 0;
    left: -220px;
    bottom: 0;
    width: 220px;
    padding: 15px;
    background: $color1;
    transition: left 0.25s linear;
    z-index: 10;

    &.active {
      left: 0;
      z-index: 20;

      .header_background::after {
        left: 220px;
        right: 0;
      }
    }
  }

  &_background {
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      background: rgba(55, 63, 72, 0.7);
      backdrop-filter: blur(10px);
      transition: right 0.25s linear, left 0.25s linear;
    }
  }

  &_action {
    display: flex;
    align-items: center;
  }
}