<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <div class="header-menu">
                <span class="header-menu__background"></span>
                <div class="aside-navigation header-menu__aside">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="./index.html" class="header-logo">
                <svg class="icon icon-logo isDesktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile isMobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>

            <nav class="header-navigation">
                <a href="./about-us.html" class="header-navigation__link">Про нас</a>
                <a href="./catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>

            <div class="header-info">
                <a href="tel:+380636666666" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="header-info__phone">
                        +380636666666
                    </span>
                </a>
                <a href="./location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="header-info__location">
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>

            <div class="header-action">
                <div href="#" class="header-action__cart">
                    <svg class="icon icon-cart header-action__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span class="header-action__text">(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow_cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-action__lang">
                    <svg class="icon icon-lang header-action__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="#" class="header-action__text">Uk</a>
                </div>
            </div>

        </div>
    </div>
</header>
    
    <div class="about-us">
        <div class="about-us-background">
            <!-- <img src="images/background-top.png" alt="Background image" class="about-us-background__image"> -->
        </div>
            <div class="about-us-inner">
                <div class="about-us-description">
                    <h2 class="about-us__title">Про нас</h2>
                    <p class="about-us__text about-us__text--adapt">
                        <span class="about-us__highlight--top">ПП - Пінцак</span>
                        здійснює свою діяльність з 2007 року. Ми займаємось
                        виробництвом широкого асортименту бетонних виробів.
                    </p>
                    <div class="download-catalogue about-us-download">
                        <div class="download-catalogue-wrapper">
                            <div class="download-catalogue-wrapper-image">
                                <img src="images/download-background_left.png" alt="Catalogue image"
                                    class="download-catalogue__image">
                                <img src="images/download-background_left.png" alt="Catalogue image"
                                    class="download-catalogue__image">
                            </div>
                            <a href="#" class="download-catalogue__btn">
                                Каталог
                                <svg class="icon icon-download">
                                    <use href="images/icons/sprite.svg#download-catalogue"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <p class="about-us__text">Наше підприємство розташоване в с. Мирча, Великоберезнянський район,
                        але попитом наша продукція користується не тільки по всій Закарпатській області, а також
                        частими покупцями нашої продукції є громадяни Словаччини та Угорщини.</p>
                </div>

                <div class="about-us-production">
                    <h2 class="about-us__title">Виробництво</h2>
                        <p class="about-us__text"><span class="about-us__highlight--bottom">На сьогоднішній день ми
                                виробляємо</span> бетонні накриття для огорож та
                            стовпців, парапети,
                            тротуарну та фасадну плитки, бордюри, глечики та елементи садово-паркового декору, а також
                            збірні секції євроогорожей.</p>
                        <p class="about-us__text">
                            В основі виробничого процесу лежить вібролиття, яке забезпечує максимальну надійність виробу
                            та в повній мірі відтворює його текстуру. Виробництво здійснюється в такі етапи:
                        </p>
                        <ol class="about-us__list">
                            <li class="about-us__list-item">Змащення підібраних форм</li>
                            <li class="about-us__list-item">Підготовка бетонної суміші</li>
                            <li class="about-us__list-item">Заповнення форм бетоном</li>
                            <li class="about-us__list-item">Визрівання виробу</li>
                            <li class="about-us__list-item">Виконання розпалубочних робіт</li>
                            <li class="about-us__list-item">Складування готової продукції</li>
                        </ol>
                        <a href="#" class="btn-sent btn-orange about-us__link">Перейти В Магазин</a>
                </div>
            </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-location">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="footer-item__title">Адреса</span>
                </div>
                <span class="footer-item__text">
                    Великий Березний вул. Верховинська, 10
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="footer-item__title">Телефон</span>
                </div>
                <span class="footer-item__text">
                    +380636666666
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-clock">
                        <use href="images/icons/sprite.svg#clock"></use>
                    </svg>
                    <span class="footer-item__title">Час роботи</span>
                </div>
                <span class="footer-item__text">
                    Пн-Сб / 9:00 - 20:00
                </span>
            </div>
        </div>
    </div>
</footer>
</body>

</html>