<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <div class="header-menu">
                <span class="header-menu__background"></span>
                <div class="aside-navigation header-menu__aside">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="./index.html" class="header-logo">
                <svg class="icon icon-logo isDesktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile isMobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>

            <nav class="header-navigation">
                <a href="./about-us.html" class="header-navigation__link">Про нас</a>
                <a href="./catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>

            <div class="header-info">
                <a href="tel:+380636666666" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="header-info__phone">
                        +380636666666
                    </span>
                </a>
                <a href="./location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="header-info__location">
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>

            <div class="header-action">
                <div href="#" class="header-action__cart">
                    <svg class="icon icon-cart header-action__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span class="header-action__text">(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow--cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-action__lang">
                    <svg class="icon icon-lang header-action__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="#" class="header-action__text">Uk</a>
                </div>
            </div>

        </div>
    </div>
</header>

    <div class="catalogue">
        <div class="container">
            <div class="catalogue-inner">
                <div class="catalogue-aside">
                    <div class="aside-navigation catalogue-aside-navigation">
                        <h2 class="aside-navigation__header">
                            Види продукції
                        </h2>
                        <div class="aside-navigation__list list-dark">
                            <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                            <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                            <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                            <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                            <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                            <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                            <a href="#" class="aside-navigation__link">Євроогорожі</a>
                            <a href="#" class="aside-navigation__link">Садовий декор</a>
                        </div>
                        <a href="#" class="aside-navigation__download">
                            Каталог
                            <svg class="icon icon-download">
                                <use href="images/icons/sprite.svg#download-popular"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="aside-popular catalogue-aside-popular">
                        <h4 class="aside-popular__header">Популярні товари</h4>
                        <div class="aside-popular__block">
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                            <div class="aside-popular__item">
                                <a href="#" class="aside-popular__link">
                                    <div class="aside-popular-image-wrapper">
                                        <img src="images/popular-1.png" alt="Popular image"
                                            class="aside-popular__image">
                                    </div>
                                    <div class="aside-popular__description">
                                        <p class="aside-popular__title">Бордюр парковий поворотний</p>
                                        <p class="aside-popular__type">Бордюр та водостоки</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalogue-wrapper">
                    <div class="catalogue-header">
                        <h1 class="catalogue__title">
                            Фасадний камінь
                        </h1>
                        <div class="catalogue-sort">
                            <span class="catalogue-sort__title">Сортування:</span>
                            <div class="catalogue-sort__block">
                                <a href="#" class="catalogue-sort__size">
                                    за розміром
                                    <svg class="icon icon-arrow--sort catalogue-sort__icon">
                                        <use href="images/icons/sprite.svg#arrow-sort"></use>
                                    </svg>
                                </a>
                                <a href="#" class="catalogue-sort__price">
                                    за ціною
                                    <svg class="icon icon-arrow--sort catalogue-sort__icon">
                                        <use href="images/icons/sprite.svg#arrow-sort"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="catalogue-block">
                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    15 x 15
                                </span>
                                <span class="product__price">
                                    2220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>

                        <div class="product-item">
                            <a href="/catalogue-page.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                                <div class="product-order">
                                    <button class="product__btn--remove">
                                        <svg class="icon icon-minus">
                                            <use href="images/icons/sprite.svg#minus"></use>
                                        </svg>
                                    </button>
                                    <input type="number" class="product__count" min="1" value="1">
                                    <button class="product__btn--add">
                                        <svg class="icon icon-plus">
                                            <use href="images/icons/sprite.svg#plus"></use>
                                        </svg>
                                    </button>

                                    <button class="product__cart">
                                        <svg class="icon icon-cart">
                                            <use href="images/icons/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="catalogue-pagination">
                        <a href="#" class="catalogue-pagination__btn">
                            <svg class="icon icon-refresh pagination-icon__refresh">
                                <use href="images/icons/sprite.svg#refresh"></use>
                            </svg>
                            Показати ще 12 товарів
                        </a>

                        <div class="catalogue-pagination-block">
                            <a href="#" class="catalogue-pagination__step">
                                <svg class="icon icon-arrow--pagination pagination-icon__left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <div class="catalogue-pagination-pages">
                                <a href="#" class="catalogue-pagination__link">1</a>
                                <a href="#" class="catalogue-pagination__link">2</a>
                                <a href="#" class="catalogue-pagination__link">3</a>
                                <a href="#" class="catalogue-pagination__link">4</a>
                            </div>
                            <a href="#" class="catalogue-pagination__step">
                                <svg class="icon icon-arrow--pagination pagination-icon__right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-location">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="footer-item__title">Адреса</span>
                </div>
                <span class="footer-item__text">
                    Великий Березний вул. Верховинська, 10
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="footer-item__title">Телефон</span>
                </div>
                <span class="footer-item__text">
                    +380636666666
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-clock">
                        <use href="images/icons/sprite.svg#clock"></use>
                    </svg>
                    <span class="footer-item__title">Час роботи</span>
                </div>
                <span class="footer-item__text">
                    Пн-Сб / 9:00 - 20:00
                </span>
            </div>
        </div>
    </div>
</footer>
</body>

</html>