<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pintsak production</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header-inner">
            <button class="header-hamburger">
                <span class="header-hamburger__btn"></span>
            </button>
            <div class="header-menu">
                <span class="header-menu__background"></span>
                <div class="aside-navigation header-menu__aside">
                    <h2 class="aside-navigation__header">
                        Види продукції
                    </h2>
                    <div class="aside-navigation__list">
                        <a href="#" class="aside-navigation__link">Фасадний камінь</a>
                        <a href="#" class="aside-navigation__link">Тротуарна плитка</a>
                        <a href="#" class="aside-navigation__link">Дорожні блоки та плити</a>
                        <a href="#" class="aside-navigation__link">Бордюр та водостоки</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Кришки для стовпів</a>
                        <a href="#" class="aside-navigation__link">Євроогорожі</a>
                        <a href="#" class="aside-navigation__link">Садовий декор</a>
                    </div>
                    <a href="#" class="aside-navigation__download">
                        Каталог
                        <svg class="icon icon-download">
                            <use href="images/icons/sprite.svg#download"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <a href="./index.html" class="header-logo">
                <svg class="icon icon-logo isDesktop">
                    <use href="images/icons/sprite.svg#logo"></use>
                </svg>
                <svg class="icon icon-logo--mobile isMobile">
                    <use href="images/icons/sprite.svg#logo-mobile"></use>
                </svg>
            </a>

            <nav class="header-navigation">
                <a href="./about-us.html" class="header-navigation__link">Про нас</a>
                <a href="./catalogue.html" class="header-navigation__link">Види продукції</a>
            </nav>

            <div class="header-info">
                <a href="tel:+380636666666" class="header-info__link">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="header-info__phone">
                        +380636666666
                    </span>
                </a>
                <a href="./location.html" class="header-info__link">
                    <svg class="icon icon-location--header">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="header-info__location">
                        Великий Березний вул. Верховинська, 10
                    </span>
                </a>
            </div>

            <div class="header-action">
                <div href="#" class="header-action__cart">
                    <svg class="icon icon-cart header-action__icon">
                        <use href="images/icons/sprite.svg#shopping-cart"></use>
                    </svg>
                    <span class="header-action__text">(0)</span>

                    <div class="cart-dropdown">
                        <h3 class="cart-dropdown__title">В кошику 1 товар на суму:</h3>
                        <p class="cart-dropdown__price">198,<sup>00</sup> грн</p>
                        <button class="cart-dropdown__btn">Замовити</button>
                        <a href="#" class="cart-dropdown__link">
                            Перейти в кошик
                            <svg class="icon icon-arrow--cart">
                                <use href="images/icons/sprite.svg#arrow-cart"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            
                <div href="#" class="header-action__lang">
                    <svg class="icon icon-lang header-action__icon">
                        <use href="images/icons/sprite.svg#language"></use>
                    </svg>
                    <a href="#" class="header-action__text">Uk</a>
                </div>
            </div>

        </div>
    </div>
</header>
    <div class="product">
        <div class="container">
            <div class="product-inner">
                <a href="#" class="product-back">
                    <svg class="icon icon-arrow--cart product-back__icon">
                        <use href="images/icons/sprite.svg#arrow-cart"></use>
                    </svg>
                    Тротуарна
                </a>
                <ul class="product-breadcrumbs">
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Головна</a></li>
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Види
                            продукції</a></li>
                    <li class="product-breadcrumbs__item"><a href="#" class="product-breadcrumbs__link">Тротуарна
                            плитка</a></li>
                    <li class="product-breadcrumbs__item">Тротуарна</li>
                </ul>

                <div class="product-block">
                    <span class="product__status">В наявності</span>
                    <div class="product-gallery">
                        <div class="product-gallery__small">
                            <img src="images/product-tile-curpet.png" alt="Gallery image"
                                class="gallery-small__img">
                            <img src="images//product-tile-curpet1.png" alt="Gallery image"
                                class="product-gallery__img">
                            <img src="images/product-tile-curpet2.png" alt="Gallery image" class="product-gallery__img">
                        </div>
                        <div class="product-gallery__large">
                            <img src="images/product-tile-border.png" alt="Gallery image" class="product-gallery__img">
                        </div>
                    </div>
                    <div class="product-trade">
                        <div class="product-trade-wrapper">
                            <h1 class="product-trade__title">Коврова</h1>
                            <p class="product-trade__price">190,<sup> 00 грн</sup></p>

                            <div class="calc product-calc">
                                <button class="calc__remove product-calc__remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="calc__count product-calc__count" min="1" value="1">
                                <button class="calc__add product-calc__add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>
                                <span class="product-trade__size">м<sup>2</sup></span>
                            </div>
                            <a href="./order-page.html" class="product-trade__btn">
                                <svg class="icon icon-cart">
                                    <use href="images/icons/sprite.svg#cart"></use>
                                </svg>
                                В кошик
                            </a>
                        </div>
                    </div>
                </div>

                <div class="product-table">
                    <h2 class="product-table__header">Опис товару</h2>
                    <table class="product-table__block">
                        <thead class="product-table__title">
                            <tr>
                                <th>Товщина (см)</th>
                                <th>Розмір (см)</th>
                                <th>Шт на 1 м2</th>
                                <th>Вага на 1 м2</th>
                                <th>Ціна в базовому окрасі <span>(сірий, червоний)</span></th>
                            </tr>
                        </thead>
                        <tbody class="product-table__body">
                            <tr>
                                <td>2,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>55</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <td>4,5</td>
                                <td>30х30 / 22х22</td>
                                <td>11/11</td>
                                <td>100</td>
                                <td>210</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="carousel product-carousel">

                    <div class="carousel-header">
                        <h2 class="carousel__title">
                            Схожі пропозиції
                        </h2>
                        <div class="carousel__navigation">
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--left">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                            <a href="#" class="carousel__step">
                                <svg class="icon icon-arrow--carousel carousel__arrow--right">
                                    <use href="images/icons/sprite.svg#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-block product-carousel-block">
                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="product-item">
                            <a href="/product.html" class="product-link">
                                <h3 class="product__title">
                                    Римська цеглина
                                </h3>
                                <div class="product-image-wrapper">
                                    <img src="images/product-tile-rome.png" alt="Product image" class="product__image">
                                </div>
                                <span class="product__size">
                                    135 x 135
                                </span>
                                <span class="product__price">
                                    220 грн
                                </span>
                            </a>
                            <div class="product-order">
                                <button class="product__btn--remove">
                                    <svg class="icon icon-minus">
                                        <use href="images/icons/sprite.svg#minus"></use>
                                    </svg>
                                </button>
                                <input type="number" class="product__count" min="1" value="1">
                                <button class="product__btn--add">
                                    <svg class="icon icon-plus">
                                        <use href="images/icons/sprite.svg#plus"></use>
                                    </svg>
                                </button>

                                <button class="product__cart">
                                    <svg class="icon icon-cart">
                                        <use href="images/icons/sprite.svg#cart"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-location">
                        <use href="images/icons/sprite.svg#location"></use>
                    </svg>
                    <span class="footer-item__title">Адреса</span>
                </div>
                <span class="footer-item__text">
                    Великий Березний вул. Верховинська, 10
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-phone">
                        <use href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span class="footer-item__title">Телефон</span>
                </div>
                <span class="footer-item__text">
                    +380636666666
                </span>
            </div>
            <div class="footer-block">
                <div class="footer-item">
                    <svg class="icon icon-clock">
                        <use href="images/icons/sprite.svg#clock"></use>
                    </svg>
                    <span class="footer-item__title">Час роботи</span>
                </div>
                <span class="footer-item__text">
                    Пн-Сб / 9:00 - 20:00
                </span>
            </div>
        </div>
    </div>
</footer>
    <div class="cart isActive">

    <div class="cart-block">
        <div class="cart-header">
            <h2 class="cart-header__title">
                Товари в кошику
            </h2>
            <button class="cart-header__close" type="button">
                <svg class="icon icon-close--big">
                    <use href="images/icons/sprite.svg#close"></use>
                </svg>
            </button>
        </div>

        <div class="cart-description">
            <span class="cart-description__item">Кількість, м<sup>2</sup></span>
            <span class="cart-description__item">Ціна, грн</span>
            <span class="cart-description__item">Сума, грн</span>
        </div>

        <div class="cart-item">
            <div class="cart-item__product">
                <button class="cart-item__close" type="button">
                    <svg class="icon icon-close-small">
                        <use href="images/icons/sprite.svg#close"></use>
                    </svg>
                </button>
                <a href="#" class="cart-item__image">
                    <img src="images/product-tile-rome.png" alt="Product image">
                </a>
                <div class="cart-item__link">
                    <a href="#" class="cart-item__link--type">Дорожні блоки та плити</a>
                    <a href="#" class="cart-item__link--title">Бордюр парковий поворотний</a>
                </div>
            </div>
            <div class="cart-item__summary">
                <div class="calc cart-calc">
                    <button class="calc__remove cart-calc__remove">
                        <svg class="icon icon-minus">
                            <use href="images/icons/sprite.svg#minus"></use>
                        </svg>
                    </button>
                    <input type="number" class="calc__count cart-calc__count" min="1" value="1">
                    <button class="calc__add cart-calc__add">
                        <svg class="icon icon-plus">
                            <use href="images/icons/sprite.svg#plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="cart-item__count">
                    <span class="cart-item__price">120,<sup>00</sup></span>
                    <span class="cart-item__sum">1200,<sup>00</sup></span>
                </div>
            </div>
        </div>
        <div class="cart-item">
            <div class="cart-item__product">
                <button class="cart-item__close" type="button">
                    <svg class="icon icon-close-small">
                        <use href="images/icons/sprite.svg#close"></use>
                    </svg>
                </button>
                <a href="#" class="cart-item__image">
                    <img src="images/product-tile-rome.png" alt="Product image">
                </a>
                <div class="cart-item__link">
                    <a href="#" class="cart-item__link--type">Дорожні блоки та плити</a>
                    <a href="#" class="cart-item__link--title">Бордюр парковий поворотний</a>
                </div>
            </div>
            <div class="cart-item__summary">
                <div class="calc cart-calc">
                    <button class="calc__remove cart-calc__remove">
                        <svg class="icon icon-minus">
                            <use href="images/icons/sprite.svg#minus"></use>
                        </svg>
                    </button>
                    <input type="number" class="calc__count cart-calc__count" min="1" value="1">
                    <button class="calc__add cart-calc__add">
                        <svg class="icon icon-plus">
                            <use href="images/icons/sprite.svg#plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="cart-item__count">
                    <span class="cart-item__price">120,<sup>00</sup></span>
                    <span class="cart-item__sum">1200,<sup>00</sup></span>
                </div>
            </div>
        </div>
        <div class="cart-bottom">
            <div class="cart-back">
                <span class="cart-back__title">Продовжити покупки</span>
                <button class="cart-back__btn">
                    <svg class="icon icon-arrow">
                        <use href="images/icons/sprite.svg#arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="cart-trade">
                <div class="cart-trade__total">
                    <span class="cart-trade__total--text">Підсумок</span>
                    <span class="cart-trade__total--sum">199980,<sup>00 грн</sup></span>
                </div>
                <button class="cart-trade__btn">Замовити</button>
            </div>
        </div>

    </div>
</div>
</body>

</html>