@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.counter {
  position: relative;
  max-width: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  background: #ffffff;
  border: 1px solid $color1;

  &.catalogue {
    max-width: unset;
    justify-content: left;
    margin-bottom: 0;
    border: unset;

    .counter_remove {
      height: 31px;
      border-right: 1px solid $color2;
    }

    .counter_add {
      height: 31px;
      border-left: 1px solid $color2;
    }

    .counter_quantity {
      max-width: 89px;
      padding: 6px 0;
    }
  }

  &.cart {
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 0;

    .counter_remove {
      height: 31px;
    }

    .counter_add {
      height: 31px;
    }

    .counter_quantity {
      max-width: 75px;
      padding: 6px 0;
    }
  }

  &_remove {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    border-right: 1px solid $color1;
  
    &.disabled {
      opacity: .7;
      cursor: not-allowed;
    }
  }
  
  &_minus {
    display: block;
    width: 10px;
    height: 2px;
    background: $color1;
  }
  
  &_add {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    border-left: 1px solid $color1;
  
    &.disabled {
      opacity: .7;
      cursor: not-allowed;
    }
  }
  
  &_plus {
    position: relative;
    display: block;
    width: 10px;
    height: 2px;
    background: $color1;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 2px;
      height: 10px;
      background: $color1;
    }
  }
  
  &_quantity {
    max-width: 75px;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 900;
    color: $color1;
    text-align: center;
  
    & > span {
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;
    }
  
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  &_size {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 900;
  
    @include screen-l {
      margin-left: 15px;
      font-size: 24px;
    }
  }
}