@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.input {
  position: relative;
  margin-bottom: 35px;

  &.disabled {
    pointer-events: none;
    opacity: .7;
  }

  &_container {
    width: 100%;
    padding: 15px 20px;
    @include transition;
    border: 1px solid $color1;
    font-size: 12px;
    color: $color1;
    cursor: text;
  
    @include screen-tb {
      padding: 15px 25px;
      font-size: 14px;
    }
  
    @include screen-l {
      font-size: 18px;
    }
  
    &:invalid {
      outline: none;
    }
  
    &:focus,
    &:valid {
      border: 1px solid $color6;
    }
  
    &:focus~.input_label,
    &:valid~.input_label {
      @include transition;
      top: 0;
      font-size: 14px;
      color: $color2;
  
      @include screen-l {
        font-size: 16px;
      }
    }
  
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  &_label {
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 5px;
    transform: translateY(-50%);
    background: #ffffff;
    @include transition;
    font-size: 14px;
  
    @include screen-tb {
      font-size: 14px;
    }
  
    @include screen-l {
      font-size: 18px;
    }
  }
}