@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.button {
  border-radius: 4px;
  font-weight: 900;

  &_green {
    background: $color4;
    color: #ffffff;
  }

  &_orange {
    background: $color2;
    color: #ffffff;
  }

  &_transparent {
    background: transparent;
    color: $color1;
  }

  &_white {
    background: #ffffff;
    color: $color1;
  }
}