@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.field {
  position: relative;
  margin-bottom: 35px;
}

.input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid $color1;
  font-size: 14px;
  color: $color1;

  @include screen-l {
    padding: 15px 25px;
    font-size: 18px;
  }

  &:focus {
    border: 1px solid $color6;
  }

  &.error {
    border: 1px solid $color7;
  }

  &.disabled {
    cursor: not-allowed;
  }
}