@import './src/assets/styles/general/_mixins.scss';
@import './src/assets/styles/general/_variables.scss';

.type {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &_wrapper {
    max-width: 600px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  
    @include screen-tb {
      padding: 40px 0;
    }
  
    @include screen-l {
      padding: 60px 0;
    }
  }

  &_title {
    margin-bottom: 35px;

    @include screen-l {
      font-size: 36px;
    }
  }

  &_button {
    width: 250px;
    min-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 62px;
    margin: 75px auto 0;
    font-size: 16px;
    line-height: 1.35;
        
    @include screen-tb {
      font-size: 18px;
    }

    @include screen-l {
      margin: 65px auto 0;
      font-size: 20px;
    }
  }
}

